<div class="d-flex flex-column flex-md-row justify-content-between gap-4">
  <div class="col-12 col-xl-7 d-flex flex-column gap-2">
    <div class="card p-2">
      <div class="card-body">
        <h5 class="card-title">{{ 'HOME_START_SETUP' | tr }}</h5>

        <div class="d-flex gap-2 flex-wrap">
          <a class="btn btn-outline-info btn-sm" routerLink="o/organisationId/e/eventId/tables/create">
            <bi name="plus-circle" />
            {{ 'HOME_START_SETUP_CREATE_TABLE' | tr }}</a
          >
          <a class="btn btn-outline-info btn-sm" routerLink="o/organisationId/e/eventId/products/create">
            <bi name="plus-circle" />
            {{ 'HOME_START_SETUP_CREATE_PRODUCT' | tr }}</a
          >
          <a class="btn btn-outline-info btn-sm" routerLink="o/organisationId/e/eventId/waiters/create">
            <bi name="plus-circle" />
            {{ 'HOME_START_SETUP_CREATE_WAITER' | tr }}</a
          >
          <a class="btn btn-outline-info btn-sm" routerLink="o/organisationId/e/eventId/tables/groups/create">
            <bi name="plus-circle" />
            {{ 'HOME_START_SETUP_CREATE_TABLE_GROUP' | tr }}</a
          >
          <a class="btn btn-outline-info btn-sm" routerLink="o/organisationId/e/eventId/products/groups/create">
            <bi name="plus-circle" />
            {{ 'HOME_START_SETUP_CREATE_PRODUCT_GROUP' | tr }}</a
          >
        </div>
      </div>
    </div>

    <div class="card p-2">
      <div class="card-body">
        <h5 class="card-title">{{ 'ABOUT_APP_DISCOVER' | tr }}</h5>
        <app-download-btn-list />
      </div>
    </div>

    @if (((errors$ | async) && !isProduction)) {
    <div class="card p-2">
      <div class="card-body">
        <button class="btn btn-sm btn-warning" (click)="logout()">Logout</button>
      </div>
    </div>
    }
  </div>

  @if (myUser()?.isAdmin) {

  <div class="col-12 col-xl-4">
    <div class="card p-2 mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ 'HOME_START_STATISTICS' | tr }}</h5>
        <ul class="list-unstyled py-2">
          <li class="d-flex flex-column flex-sm-row justify-content-between mb-2">Web version: <span>{{ frontendVersion }}</span></li>
          <li class="d-flex flex-column flex-sm-row justify-content-between mb-2">
            Local time: <span>{{ localTime() | date : 'YYYY-MM-dd HH:mm:ss (zzz)' }}</span>
          </li>
          <li class="d-flex justify-content-between mb-2">OS: <span>{{ browserInfos.os }}</span></li>
          <li class="d-flex justify-content-between mb-2">OS version: <span>{{ browserInfos.osVersion }}</span></li>
          <li class="d-flex justify-content-between mb-2">Browser: <span>{{ browserInfos.name }}</span></li>
          <li class="d-flex justify-content-between mb-2">Browser version: <span>{{ browserInfos.version }}</span></li>
          <li class="d-flex justify-content-between mb-2">Mobile: <span>{{ browserInfos.mobile }}</span></li>
          <li class="d-flex justify-content-between mb-2">Screen size: <span>{{ browserInfos.screenSize }}</span></li>
          <li class="d-flex justify-content-between mb-2">Local storage: <span>{{ browserInfos.localStorage }}</span></li>
          <li class="d-flex justify-content-between mb-2">Cookies: <span>{{ browserInfos.cookies }}</span></li>
        </ul>
      </div>
    </div>

    <div class="card p-2">
      <div class="card-body">
        <h5>Backend</h5>
        <ul class="list-unstyled d-flex flex-column gap-2">
          <li class="d-flex justify-content-between">
            Status:
            <span
              [class.text-success]="serverInfoService.status() === 'Online'"
              [class.text-warning]="serverInfoService.status() === 'Pending'"
              [class.text-danger]="serverInfoService.status() === 'Offline'"
            >
              {{ serverInfoService.status() }}</span
            >
          </li>
          @if (serverInfoService.status() !== 'Offline') { @if (serverInfoService.publicInfo();as publicInfo) {
          <li class="d-flex justify-content-between">
            Ping:
            <div class="d-flex">
              <div>
                {{ publicInfo.responseTime }}ms&nbsp;
                <span placement="bottom" ngbTooltip="Last ping">({{ publicInfo.lastPing | date : 'HH:mm:ss' }} )</span>
              </div>
              <div placement="bottom" ngbTooltip="Next refresh" aria-label="Next refresh in">
                &nbsp;&nbsp;/&nbsp;&nbsp;{{ serverInfoService.refreshIn() }} s
              </div>
            </div>
          </li>
          <li class="d-flex flex-row justify-content-between">
            Uptime: <span>{{ localTime() | d_timespan : publicInfo.serverStartTime }}</span>
          </li>
          <li class="d-flex flex-row justify-content-between">Version: <span>{{ publicInfo.version }}</span></li>
          <li class="d-flex flex-row justify-content-between">
            Info: <span class="ms-md-5" style="white-space: nowrap">"{{ publicInfo.info }}"</span>
          </li>
          <li class="d-flex flex-column flex-sm-row justify-content-between">
            Time: <span>{{ publicInfo.serverTime | date : 'YYYY-MM-dd HH:mm:ss (zzz)' : 'UTC' }}</span>
          </li>
          <li class="d-flex flex-column flex-sm-row justify-content-between">
            Started: <span>{{ publicInfo.serverStartTime | date : 'YYYY-MM-dd HH:mm:ss (zzz)' }}</span>
          </li>

          } @if (serverInfoService.adminInfo();as adminInfo) {
          <li>
            Environment Info:
            <pre><code>{{ adminInfo | json }}</code></pre>
          </li>
          } }
        </ul>
      </div>
    </div>
  </div>

  }
</div>

@if (type === 'dev') {
<div class="d-flex justify-content-center">
  <div class="mt-5 pt-5 text-break text-center">
    <h1 style="font-size: 60px">kellner.team DEV</h1>
  </div>
</div>
}
