<div class="d-flex flex-column flex-md-row justify-content-between gap-2">
  <div class="col-12 col-md-6 col-xl-5 col-xxl-4 d-flex flex-column gap-2">
    <div class="card p-2">
      <div class="card-body">
        <h5 class="card-title">{{ 'HOME_START_SETUP' | transloco }}</h5>

        <div class="d-flex gap-2 flex-wrap">
          <a class="btn btn-outline-info btn-sm" routerLink="o/organisationId/e/eventId/tables/t/create">
            <bi name="plus-circle" />
            {{ 'HOME_START_SETUP_CREATE_TABLE' | transloco }}</a
          >
          <a class="btn btn-outline-info btn-sm" routerLink="o/organisationId/e/eventId/products/p/create">
            <bi name="plus-circle" />
            {{ 'HOME_START_SETUP_CREATE_PRODUCT' | transloco }}</a
          >
          <a class="btn btn-outline-info btn-sm" routerLink="o/organisationId/e/eventId/waiters/waiter/create">
            <bi name="plus-circle" />
            {{ 'HOME_START_SETUP_CREATE_WAITER' | transloco }}</a
          >
          <a class="btn btn-outline-info btn-sm" routerLink="o/organisationId/e/eventId/table-groups/create">
            <bi name="plus-circle" />
            {{ 'HOME_START_SETUP_CREATE_TABLE_GROUP' | transloco }}</a
          >
          <a class="btn btn-outline-info btn-sm" routerLink="o/organisationId/e/eventId/product-groups/create">
            <bi name="plus-circle" />
            {{ 'HOME_START_SETUP_CREATE_PRODUCT_GROUP' | transloco }}</a
          >
        </div>
      </div>
    </div>

    <div class="card p-2">
      <div class="card-body">
        <h5 class="card-title">{{ 'ABOUT_APP_DISCOVER' | transloco }}</h5>
        <app-download-btn-list />
      </div>
    </div>

    @if (unusedPrinters(); as unusedPrinters) {
    <div class="card p-2">
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-between align-items-center">
          {{ 'Ungekoppelte Drucker' | transloco }}
          <bi name="info-circle-fill" />
        </h5>

        <div class="list-group mb-3">
          @for (printer of unusedPrinters; track printer.id) {
          <a
            class="list-group-item list-group-item-action list-group-item-warning d-flex align-items-center gap-2"
            [routerLink]="'o/organisationId/e/eventId/printers/' + printer.id"
          >
            {{printer.name}}
          </a>
          }
        </div>
        <a href="#" class="card-link" routerLink="o/organisationId/e/eventId/printers/mediators/all">Zu den Mediators</a>
      </div>
    </div>
    } @if (myUser()?.isAdmin) {
    <div class="card p-2">
      <div
        class="card-body d-inline-flex align-items-center gap-2 clickable"
        (mousedown)="showSystemInfoService.set(!showSystemInfoService.show())"
      >
        <span>Toggle Developer Menu:</span>
        <kbd style="padding-top: 5px" class="px-2"><kbd>Super</kbd> + <kbd>K</kbd></kbd>
      </div>
    </div>
    } @if (hasError() && !isProduction) {
    <div class="card p-2">
      <div class="card-body">
        <button type="button" class="btn btn-sm btn-warning" (click)="logout()">Logout</button>
      </div>
    </div>
    }
  </div>

  @if (event()) {
  <div class="col-12 col-md-6 col-xl-5 col-xxl-4 d-flex flex-column gap-2">
    <div class="card p-2">
      <div class="card-body">
        <h5 class="card-title">{{ 'Neue Bestellungen' | transloco }}</h5>

        @let showLoading = showOrdersLoading();

        <div class="list-group list-group-flush">
          @for (order of orders(); track order.id) {
          <a
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-start"
            [routerLink]="'o/organisationId/e/eventId/orders/' + order.id"
          >
            <div class="d-flex flex-column gap-2">
              <div class="d-inline-flex gap-0 gap-sm-2 flex-column flex-sm-row">
                <div class="fw-bold">#{{order.orderNumber}}</div>
                <span>
                  (<a stopPropagation [routerLink]="'o/organisationId/e/eventId/tables/' + order.table.group.id"
                    >{{order.table.group.name}}</a
                  >
                  - <a stopPropagation [routerLink]="'o/organisationId/e/eventId/tables/t/' + order.table.id">{{order.table.number}}</a>)
                </span>
              </div>
              <div>
                <a stopPropagation [routerLink]="'o/organisationId/e/eventId/waiters/waiter/' + order.waiter.id"> {{order.waiter.name}} </a>
              </div>
            </div>

            <div class="d-flex flex-column align-items-end gap-2">
              <app-order-state-badge
                placement="left"
                [orderState]="order.state"
                [orderProductPrintStates]="order.orderProductPrintStates"
                [createdAt]="order.createdAt"
                [processedAt]="order.processedAt"
              />

              @if (order.test) {
              <app-test-badge />
              }
            </div>
          </a>
          } @empty { @if (!showLoading) { Keine Bestellungen vorhanden. } } @if(showLoading) {
          <app-progress-bar show />
          }
        </div>
      </div>
    </div>
  </div>
  }
</div>

@if (type === 'dev') {
<div class="d-flex justify-content-center">
  <div class="mt-5 pt-5 text-break text-center">
    <h1 style="font-size: 60px">kellner.team DEV</h1>
  </div>
</div>
}
