<div fxLayout="column" fxLayoutGap="1.5%" fxLayout.gt-sm="row" fxLayoutAlign="end">
  <div>
    <div class="card bg-dark p-2">
      <div class="card-body">
        <h5 class="card-title">{{ 'ABOUT_APP_DISCOVER' | tr }}</h5>
        <app-download-btn-list></app-download-btn-list>
      </div>
    </div>
  </div>

  <div>
    <div class="card bg-dark p-2 pe-5" *ngIf="myUser?.isAdmin">
      <div class="card-body">
        <h4 class="card-title">{{ 'HOME_START_STATISTICS' | tr }}</h4>
        <ul class="list-unstyled py-2">
          <li fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-md="column" class="mb-2">
            Status: <span [class.text-success]="status === 'Online'" [class.text-danger]="status === 'Offline'">{{ status }}</span>
          </li>
          <li fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-md="column" class="mb-2">
            Local time: <span>{{ localTime | date: 'YYYY-MM-dd HH:mm:ss (zzz)' }}</span>
          </li>
        </ul>

        <h5>Backend</h5>
        <ul class="list-unstyled" *ngIf="status === 'Online'">
          <li fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-md="column" class="mb-2">
            Time: <span>{{ serverTime | date: 'YYYY-MM-dd HH:mm:ss (zzz)':'UTC' }}</span>
          </li>
          <li fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-md="column" class="mb-2">
            Started: <span>{{ serverStartTime | date: 'YYYY-MM-dd HH:mm:ss (zzz)':'UTC' }}</span>
          </li>
          <li fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-md="column" class="mb-2">
            Uptime: <span>{{ localTime | timespan: serverStartTime }}</span>
          </li>
          <li fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-md="column" class="mb-2">
            Version: <span>{{ serverVersion }}</span>
          </li>
          <li fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-md="column" class="mb-2">
            Info: <span class="ms-md-5" style="white-space: nowrap">"{{ serverInfo }}"</span>
          </li>
          <li fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-md="column" class="mb-2">
            Ping:
            <span
              >{{ responseTime }}ms <small placement="bottom" ngbTooltip="Last ping">({{ lastPing | date: 'HH:mm:ss' }}) </small></span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="center" *ngIf="!isProduction">
  <div class="mt-5 pt-5">
    <h1 style="font-size: 60px; word-break: break-all">WaiterRobot-{{ type | uppercase }}</h1>
  </div>
</div>
