node_modules
.angular
.git
.github
.gitignore
*.md
dist
.editorconfig
.eslintrc.json
.prettierignore
.prettierrc
Dockerfile
compose-local.yml
compose-local-dev.yml
karma.conf.js
tools/findUnusedTranslations.sh
tools/translation.sh
