node_modules
.git
.github
.gitignore
*.md
dist
.husky
.editorconfig
.eslintrc.json
.prettierignore
.prettierrc
renovate.json
Dockerfile
compose-local.yml
compose-local-dev.yml
karma.conf.js
tools/findUnusedTranslations.sh
tools/translation.sh
