<div [hidden]="isEditing && !entityLoaded">
  <h1 *ngIf="isEditing && entity">{{ 'EDIT_2' | tr }} {{ entity.name }}</h1>
  <h1 *ngIf="!isEditing">{{ 'ADD_2' | tr }}</h1>

  <btn-toolbar>
    <div>
      <button class="btn btn-sm btn-dark text-white" (click)="onGoBack()">{{ 'GO_BACK' | tr }}</button>
    </div>

    <ng-container *ngIf="isEditing && entity">
      <div>
        <button class="btn btn-sm btn-success" (click)="f.ngSubmit.emit()" [disabled]="!f.valid">
          <i-bs name="save"></i-bs>
          {{ 'SAVE' | tr }}
        </button>
      </div>
      <div>
        <button class="btn btn-sm btn-outline-danger" (click)="onDelete(entity.id)">
          <i-bs name="trash"></i-bs>
          {{ 'DELETE' | tr }}
        </button>
      </div>

      <div>
        <button class="btn btn-sm btn-primary" (click)="onShowQRCode()">
          <i-bs name="qr-code"></i-bs>
          {{ 'HOME_WAITERS_EDIT_QR_CODE' | tr }}
        </button>
      </div>
    </ng-container>

    <div *ngIf="!isEditing">
      <button class="btn btn-sm btn-success" (click)="f.ngSubmit.emit()" [disabled]="!f || !f.valid">
        <i-bs name="plus-circle"></i-bs>
        {{ 'ADD' | tr }}
      </button>
    </div>
  </btn-toolbar>

  <form #f="ngForm" (ngSubmit)="onSave(f)">
    <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs bg-dark" (navChange)="setTabId($event.nextId)">
      <li [ngbNavItem]="1">
        <a ngbNavLink>{{ 'DATA' | tr }}</a>
        <ng-template ngbNavContent>
          <div class="row g-3">
            <div class="form-group col-sm-12 col-md-4 col-lg-5 col-xl-6">
              <label for="name">{{ 'NAME' | tr }}</label>
              <input
                ngModel
                class="form-control bg-dark text-white"
                required
                type="text"
                id="name"
                name="name"
                #nameModel="ngModel"
                minlength="3"
                maxlength="70"
                placeholder="{{ 'NAME' | tr }}"
                [ngModel]="isEditing ? entity?.name : null" />

              <small *ngIf="nameModel.invalid" class="text-danger">
                {{ 'HOME_WAITERS_EDIT_NAME_INCORRECT' | tr }}
              </small>
            </div>

            <chip-input
              class="col-sm-12 col-md-8 col-lg-7 col-xl-6"
              placeholder="{{ 'HOME_WAITERS_EDIT_EVENTS_PLACEHOLDER' | tr }}"
              label="{{ 'HOME_WAITERS_EDIT_EVENTS' | tr }}"
              editable="false"
              [models]="selectedEvents"
              [allModelsToAutoComplete]="events"
              [formatter]="formatter"
              (valueChange)="changeSelectedEvents($event)">
            </chip-input>
          </div>

          <div class="d-flex flex-column flex-md-row gap-2 gap-md-4 mt-2">
            <div class="form-check">
              <input
                ngModel
                class="form-check-input"
                type="checkbox"
                id="activated"
                [ngModel]="isEditing ? entity?.activated : null"
                name="activated" />
              <label class="form-check-label" for="activated">
                {{ 'HOME_USERS_ACTIVATED' | tr }}
              </label>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2" *ngIf="isEditing && entity" [destroyOnHide]="true">
        <a ngbNavLink>{{ 'NAV_USER_SESSIONS' | tr }}</a>
        <ng-template ngbNavContent>
          <app-waiter-sessions></app-waiter-sessions>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2 bg-dark"></div>
  </form>
</div>

<div class="spinner-row" *ngIf="isEditing && !entityLoaded">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">{{ 'LOADING' | tr }}</span>
  </div>
</div>
