<div fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-md="column" fxLayoutGap.lt-md="4%">
  <div class="list-group" fxFlex="28%" fxFlex.gt-lg="15%">
    <a class="list-group-item list-group-item-action" routerLink="all" routerLinkActive="active" (click)="linkClick()">
      <bi name="columns-gap"></bi>
      {{ 'HOME_TABLES' | tr }}</a
    >

    <a class="list-group-item list-group-item-action" routerLink="groups/all" routerLinkActive="active" (click)="linkClick()">
      <bi name="diagram-3"></bi>
      {{ 'HOME_TABLE_GROUPS' | tr }}</a
    >

    <a class="list-group-item list-group-item-action" routerLink="/home/tables/create" routerLinkActive="active" (click)="linkClick()">
      <bi name="plus-circle"></bi>
      {{ 'HOME_TABLES_ADD' | tr }}</a
    >

    <a
      class="list-group-item list-group-item-action"
      routerLink="/home/tables/groups/create"
      routerLinkActive="active"
      (click)="linkClick()"
    >
      <bi name="plus-circle"></bi>
      {{ 'HOME_TABLE_GROUPS_ADD' | tr }}</a
    >

    <div class="list-group-item" [fxHide.gt-md]="true">
      <div class="input-group">
        <span class="input-group-text" id="selectEvent-addon1"><bi name="people"></bi></span>
        <select class="form-select" id="selectEvent" [(ngModel)]="selectedModelToShow" (ngModelChange)="showModel($event)">
          <option value="default">{{ 'HOME_TABLE_GROUPS' | tr }}</option>
          <option value="/home/tables/groups/tables/{{ tableGroup.id }}" *ngFor="let tableGroup of this.allModels">
            {{ tableGroup.name }}
          </option>
        </select>
      </div>
    </div>

    <a
      *ngFor="let tableGroup of this.allModels"
      [fxHide.lt-lg]="true"
      class="list-group-item list-group-item-action"
      routerLink="/home/tables/groups/tables/{{ tableGroup.id }}"
      routerLinkActive="active"
      (click)="linkClick()"
    >
      {{ tableGroup.name }}</a
    >
  </div>
  <div fxFlex="70%" fxFlex.gt-lg="82%">
    <div class="card bg-dark">
      <div class="card-body px-4">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
