<entities-layout-component>
  <div class="list-group" nav>
    <a class="list-group-item list-group-item-action" routerLink="all" routerLinkActive="active" (click)="linkClick()">
      <i-bs name="columns-gap"></i-bs>
      {{ 'HOME_TABLES' | tr }}</a
    >

    <a class="list-group-item list-group-item-action" routerLink="groups/all" routerLinkActive="active" (click)="linkClick()">
      <i-bs name="diagram-3"></i-bs>
      {{ 'HOME_TABLE_GROUPS' | tr }}</a
    >

    <a class="list-group-item list-group-item-action" routerLink="/home/tables/create" routerLinkActive="active" (click)="linkClick()">
      <i-bs name="plus-circle"></i-bs>
      {{ 'HOME_TABLES_ADD' | tr }}</a
    >

    <a
      class="list-group-item list-group-item-action"
      routerLink="/home/tables/groups/create"
      routerLinkActive="active"
      (click)="linkClick()">
      <i-bs name="plus-circle"></i-bs>
      {{ 'HOME_TABLE_GROUPS_ADD' | tr }}</a
    >

    <div class="list-group-item" [class.d-lg-none]="allModels.length < 14">
      <div class="input-group">
        <span class="input-group-text" id="selectEvent-addon1"><i-bs name="people"></i-bs></span>
        <select class="form-select" id="selectEvent" [(ngModel)]="selectedModelToShow" (ngModelChange)="showModel($event)">
          <option value="default">{{ 'HOME_TABLE_GROUPS' | tr }}</option>
          <option value="/home/tables/groups/tables/{{ tableGroup.id }}" *ngFor="let tableGroup of allModels; trackById">
            {{ tableGroup.name }}
          </option>
        </select>
      </div>
    </div>

    <a
      *ngFor="let tableGroup of allModels; trackById"
      [class.d-lg-none]="allModels.length >= 14"
      class="list-group-item list-group-item-action d-none d-lg-block"
      routerLink="/home/tables/groups/tables/{{ tableGroup.id }}"
      routerLinkActive="active"
      (click)="linkClick()">
      {{ tableGroup.name }}</a
    >
  </div>
</entities-layout-component>
