<app-entities-layout-component>
  <div class="list-group" nav>
    <a class="list-group-item list-group-item-action" routerLink="all" routerLinkActive="active" (click)="linkClick()">
      <i-bs name="columns-gap"></i-bs>
      {{ 'HOME_PROD_ALL' | tr }}</a
    >

    <a class="list-group-item list-group-item-action" routerLink="groups/all" routerLinkActive="active" (click)="linkClick()">
      <i-bs name="diagram-3"></i-bs>
      {{ 'HOME_PROD_GROUP' | tr }}</a
    >

    <a class="list-group-item list-group-item-action" routerLink="/home/products/create" routerLinkActive="active" (click)="linkClick()">
      <i-bs name="plus-circle"></i-bs>
      {{ 'HOME_PROD_ADD' | tr }}</a
    >

    <a
      class="list-group-item list-group-item-action"
      routerLink="/home/products/groups/create"
      routerLinkActive="active"
      (click)="linkClick()">
      <i-bs name="plus-circle"></i-bs>
      {{ 'HOME_PROD_GROUPS_ADD' | tr }}</a
    >

    <div class="list-group-item" [fxHide.gt-md]="allModels.length < 14">
      <div class="input-group">
        <span class="input-group-text" id="selectGroup-addon"><i-bs name="people"></i-bs></span>
        <select class="form-select" id="selectGroup" [(ngModel)]="selectedModelToShow" (ngModelChange)="showModel($event)">
          <option value="default">{{ 'HOME_PROD_GROUP' | tr }}</option>
          <option value="/home/products/groups/products/{{ productGroup.id }}" *ngFor="let productGroup of this.allModels; trackById">
            {{ productGroup.name }}
          </option>
        </select>
      </div>
    </div>

    <a
      *ngFor="let productGroup of this.allModels; trackById"
      [fxHide]="allModels.length >= 14"
      [fxHide.lt-lg]="true"
      class="list-group-item list-group-item-action"
      routerLink="/home/products/groups/products/{{ productGroup.id }}"
      routerLinkActive="active"
      (click)="linkClick()">
      {{ productGroup.name }}</a
    >
  </div>
</app-entities-layout-component>
