<div *ngIf="entity$ | async as entity; else loading">
  <h1 *ngIf="isEditing(entity)">{{ 'EDIT_2' | tr }} {{ entity.name }}</h1>
  <h1 *ngIf="!isEditing(entity)">{{ 'HOME_PROD_ADD' | tr }}</h1>

  <btn-toolbar>
    <div>
      <button class="btn btn-sm btn-dark text-white" (click)="onGoBack()">{{ 'GO_BACK' | tr }}</button>
    </div>

    <app-model-edit-save-btn (submit)="form?.submit()" [editing]="isEditing(entity)"></app-model-edit-save-btn>

    <div *ngIf="isEditing(entity)">
      <button class="btn btn-sm btn-outline-danger" (click)="onDelete(entity.id)">
        <i-bs name="trash"></i-bs>
        {{ 'DELETE' | tr }}
      </button>
    </div>
  </btn-toolbar>

  <ul ngbNav #nav="ngbNav" [activeId]="activeTab$ | async" class="nav-tabs bg-dark" (navChange)="navigateToTab($event.nextId)">
    <li [ngbNavItem]="'DATA'">
      <a ngbNavLink>{{ 'DATA' | tr }}</a>
      <ng-template ngbNavContent>
        <app-product-edit-form
          *ngIf="vm$ | async as vm"
          #form
          (formValid)="setValid($event)"
          (submitUpdate)="submitUpdate($event)"
          (submitCreate)="submitCreate($event)"
          [allergens]="vm.allergens"
          [printers]="vm.printers"
          [productGroups]="vm.productGroups"
          [selectedEvent]="vm.selectedEvent"
          [selectedProductGroupId]="vm.selectedProductGroupId"
          [product]="entity"></app-product-edit-form>

        <app-continues-creation-switch
          *ngIf="!isEditing(entity)"
          (continuesCreationChange)="continuesCreation = $event"></app-continues-creation-switch>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2 bg-dark"></div>
</div>

<ng-template #loading>
  <app-spinner-row></app-spinner-row>
</ng-template>
