<div class="d-container text-white">
  <div class="container-md">
    <app-logo-with-text></app-logo-with-text>
    <div class="row row-cols-1 row-cols-lg-2 justify-content-around px-3">
      <div class="col row gy-4">
        <div class="card bg-dark pt-2">
          <div class="card-body">
            <form #f="ngForm" (ngSubmit)="onSignIn(f)" class="d-flex flex-column gap-2 py-2">
              <div class="form-floating">
                <input
                  ngModel
                  class="form-control bg-dark text-white"
                  required
                  type="email"
                  id="email"
                  name="email"
                  minlength="3"
                  placeholder="{{ 'ABOUT_SIGNIN_EMAIL_ADDRESS' | tr }}" />
                <label for="email">{{ 'ABOUT_SIGNIN_EMAIL_ADDRESS' | tr }}</label>
              </div>

              <div class="form-floating">
                <input
                  ngModel
                  class="form-control bg-dark text-white"
                  required
                  type="password"
                  id="password"
                  name="password"
                  placeholder="{{ 'ABOUT_SIGNIN_PASSWORD' | tr }}" />
                <label for="password">{{ 'ABOUT_SIGNIN_PASSWORD' | tr }}</label>
              </div>

              <button [disabled]="!f.valid" type="submit" class="btn btn-primary">
                {{ 'ABOUT_SIGNIN' | tr }}
              </button>

              <div style="text-align: center; margin-top: 5px">
                <a (click)="onForgotPassword()" routerLink="/about">{{ 'ABOUT_SIGNIN_TROUBLE_LOGGING_IN' | tr }}</a>
              </div>
            </form>
          </div>
        </div>

        <div class="card bg-dark">
          <div class="card-body">
            <h5 class="card-title">{{ 'ABOUT_APP_DISCOVER' | tr }}</h5>
            <app-download-btn-list [showQRCodeButton]="false"></app-download-btn-list>
          </div>
        </div>
      </div>

      <div class="col row gy-4">
        <div class="card bg-dark">
          <div class="card-body">
            <h3 class="card-title">
              > <b><a href="https://kellner.team" target="_blank" rel="noopener">kellner.team</a></b>
            </h3>
            <p class="card-text">
              Mit WaiterRobot hast du die Möglichkeit, deine Bestellungsaufnahme digital zu erledigen. <br /><br />
              Egal ob sich um ein einmaliges Event oder dauerhafte Bewirtung handelt, WaiterRobot beschleunigt deinen Prozess im
              Servicebereich.
            </p>
          </div>
        </div>

        <div class="card text-white bg-dark">
          <div class="card-body">
            <h5 class="card-title">{{ 'ABOUT_MORE_INFORMATION' | tr }}</h5>
            <div class="card-text">
              <a href="https://datepollsystems.org/projects/waiterrobot" target="_blank" rel="noopener">kellner.team</a> &
              <a href="https://datepollsystems.org" target="_blank" rel="noopener">DatePoll-Systems</a>.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
