<div class="d-container text-white">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div>
      <div fxLayout="row" fxLayoutGap="4.5%">
        <img alt="WaiterRobot logo" src="./../../assets/logo.png" style="height: 110px" />
        <h1 fxFlexAlign="center" style="color: white; vertical-align: middle">WaiterRobot</h1>
      </div>
    </div>
  </div>
  <div
    fxLayout="row break"
    fxLayoutGap="2%"
    fxLayoutAlign="center start"
    fxLayout.lt-sm="column"
    fxLayoutAlign.lt-sm="center"
    style="padding: 15px 10px">
    <div fxFlex="45%" fxFlex.gt-lg="30%" fxFlex.lt-md="75%" fxFlex.xs="90%">
      <div fxLayout="column" fxLayoutGap="2%">
        <div class="card bg-dark">
          <div class="card-body">
            <form #f="ngForm" (ngSubmit)="onSignin(f)" fxLayout="column" fxLayoutGap="2%" style="padding-left: 10px; padding-right: 10px">
              <div class="form-floating">
                <input
                  ngModel
                  class="form-control bg-dark text-white"
                  required
                  type="email"
                  id="email"
                  name="email"
                  minlength="3"
                  placeholder="{{ 'ABOUT_SIGNIN_EMAIL_ADDRESS' | tr }}" />
                <label for="email">{{ 'ABOUT_SIGNIN_EMAIL_ADDRESS' | tr }}</label>
              </div>

              <div class="form-floating">
                <input
                  ngModel
                  class="form-control bg-dark text-white"
                  required
                  type="password"
                  id="password"
                  name="password"
                  placeholder="{{ 'ABOUT_SIGNIN_PASSWORD' | tr }}" />
                <label for="password">{{ 'ABOUT_SIGNIN_PASSWORD' | tr }}</label>
              </div>

              <button [disabled]="!f.valid" type="submit" class="btn btn-primary">
                {{ 'ABOUT_SIGNIN' | tr }}
              </button>

              <div style="text-align: center; margin-top: 5px">
                <a routerLink="/auth/signin">{{ 'ABOUT_SIGNIN_TROUBLE_LOGGING_IN' | tr }}</a>
              </div>
            </form>
          </div>
        </div>

        <div class="card bg-dark">
          <div class="card-body">
            <h5 class="card-title">{{ 'ABOUT_APP_DISCOVER' | tr }}</h5>
            <app-download-btn-list [showQRCodeButton]="false"></app-download-btn-list>
          </div>
        </div>
      </div>
    </div>

    <div fxFlex="45%" fxFlex.gt-lg="30%" fxFlex.lt-md="75%" fxFlex.xs="90%">
      <div fxLayout="column" fxLayoutGap="2%">
        <div class="card bg-dark">
          <div class="card-body">
            <h3 class="card-title">
              > <b><a href="#" target="_blank" rel="noopener">WaiterRobot</a></b>
            </h3>
            <p class="card-text">
              Hier steht ganz viel text.<br /><br />

              Ein bissl Abstand. Und dann nochmal viel Text, sehr ausführlicher Text, toller Text, guter Text, besonderer Text...<br />
              Dieser Text ist so toll das die anderen Texte gar nicht wissen was sie tun sollen. Jeder Text will so gut sein wie dieser
              Text.<br /><br />
              Nur alle können es nicht. Deswegen bleibt wohl oder übel nur dieser Text.
            </p>
          </div>
        </div>

        <div class="card text-white bg-dark">
          <div class="card-body">
            <h5 class="card-title">{{ 'ABOUT_MORE_INFORMATION' | tr }}</h5>
            <div class="card-text">
              <a href="https://datepoll.org/projects/waiterrobot" target="_blank" rel="noopener">WaiterRobot</a> &
              <a href="https://datepoll.org" target="_blank" rel="noopener">DatePoll-Systems</a>.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
