<div fxLayout="row break" fxLayoutAlign="space-between center">
  <h1>{{ 'HOME_USERS_ALL' | tr }}</h1>
  <a routerLink="../create" class="btn btn-outline-success">
    <i-bs name="plus-circle"></i-bs>
    {{ 'ADD_2' | tr }}</a
  >
</div>

<div class="spinner-row" *ngIf="!entitiesLoaded">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">{{ 'LOADING' | tr }}</span>
  </div>
</div>

<form class="mt-2" [hidden]="!entitiesLoaded">
  <div class="input-group">
    <input class="form-control ml-2 bg-dark text-white" type="text" [formControl]="filter" placeholder="{{ 'SEARCH' | tr }}" />
    <button
      class="btn btn-outline-secondary"
      type="button"
      ngbTooltip="{{ 'CLEAR' | tr }}"
      placement="bottom"
      (click)="filter.reset()"
      *ngIf="filter?.value?.length > 0">
      <i-bs name="x-circle-fill"></i-bs>
    </button>
  </div>
</form>

<div class="table-responsive" [hidden]="!entitiesLoaded">
  <table ngb-table class="table-dark" [hover]="true" [dataSource]="dataSource">
    <ng-container ngbColumnDef="id">
      <th *ngbHeaderCellDef ngb-header-cell sortable="id" (sort)="onSort($event)">#</th>
      <td *ngbCellDef="let user" ngb-cell>{{ user.id }}</td>
    </ng-container>

    <ng-container ngbColumnDef="name">
      <th *ngbHeaderCellDef ngb-header-cell>{{ 'NAME' | tr }}</th>
      <td *ngbCellDef="let user" ngb-cell>{{ user.name }}</td>
    </ng-container>

    <ng-container ngbColumnDef="email">
      <th *ngbHeaderCellDef ngb-header-cell>{{ 'EMAIL' | tr }}</th>
      <td *ngbCellDef="let user" ngb-cell>{{ user.email_address }}</td>
    </ng-container>

    <ng-container ngbColumnDef="birthday">
      <th *ngbHeaderCellDef ngb-header-cell>{{ 'HOME_USERS_BIRTHDAY' | tr }}</th>
      <td *ngbCellDef="let user" ngb-cell>{{ user.birthday | date: 'dd.MM.YYYY' }}</td>
    </ng-container>

    <ng-container ngbColumnDef="admin">
      <th *ngbHeaderCellDef ngb-header-cell>{{ 'HOME_USERS_ADMIN' | tr }}</th>
      <td *ngbCellDef="let user" ngb-cell>{{ user.is_admin }}</td>
    </ng-container>

    <ng-container ngbColumnDef="actions"
      >table
      <th *ngbHeaderCellDef ngb-header-cell>{{ 'ACTIONS' | tr }}</th>
      <td *ngbCellDef="let user" ngb-cell>
        <a class="btn btn-sm m-1 btn-outline-success text-white" routerLink="../{{ user.id }}" ngbTooltip="{{ 'EDIT' | tr }}">
          <i-bs name="pencil-square"></i-bs>
        </a>
        <button
          type="button"
          class="btn btn-sm m-1 btn-outline-danger text-white"
          ngbTooltip="{{ 'DELETE' | tr }}"
          (click)="onDelete(user.id)">
          <i-bs name="trash"></i-bs>
        </button>
      </td>
    </ng-container>

    <tr *ngbHeaderRowDef="columnsToDisplay" ngb-header-row></tr>
    <tr *ngbRowDef="let user; columns: columnsToDisplay" ngb-row></tr>
  </table>
</div>

<div class="table-responsive" [hidden]="!entitiesLoaded">
  <table class="table table-dark table-hover">
    <thead>
      <tr class="table-dark">
        <th sortable="id" (sort)="onSort($event)">#</th>
        <th sortable="name" (sort)="onSort($event)" style="min-width: 20vh">{{ 'NAME' | tr }}</th>
        <th sortable="email_address" (sort)="onSort($event)">{{ 'EMAIL' | tr }}</th>
        <th sortable="birthday" (sort)="onSort($event)">{{ 'HOME_USERS_BIRTHDAY' | tr }}</th>
        <th sortable="is_admin" (sort)="onSort($event)">{{ 'HOME_USERS_ADMIN' | tr }}</th>
        <th style="min-width: 20vh">{{ 'ACTIONS' | tr }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of entitiesCopy" class="table-dark">
        <th>{{ user.id }}</th>
        <td>{{ user.firstname }} {{ user.surname }}</td>
        <td>{{ user.email_address }}</td>
        <td>{{ user.birthday | date: 'dd.MM.YYYY' }}</td>
        <td>{{ user.is_admin }}</td>
        <td>
          <a class="btn btn-sm m-1 btn-outline-success text-white" routerLink="../{{ user.id }}" ngbTooltip="{{ 'EDIT' | tr }}">
            <i-bs name="pencil-square"></i-bs>
          </a>
          <button
            type="button"
            class="btn btn-sm m-1 btn-outline-danger text-white"
            ngbTooltip="{{ 'DELETE' | tr }}"
            (click)="onDelete(user.id)">
            <i-bs name="trash"></i-bs>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
