<nav class="navbar bg-body-tertiary nav-underline pt-0 pb-2 ps-md-3">
  <div class="my-container" [class.container-xxxl]="(isFullScreen$ | async) === false">
    <ul
      *ngIf="!editMode"
      class="navbar-nav d-flex flex-row flex-fill justify-content-sm-start overflow-container overflow-auto user-select-none ps-3 ps-md-0"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
    >
      <ng-container *ngFor="let item of _savedItems">
        <li class="nav-item me-3" *ngIf="item.show ?? true">
          <a class="nav-link" draggable="false" routerLinkActive="active" [routerLink]="item.routerLink">
            <span *ngIf="!item.bookmark; else notBookmark"> {{ item.text | tr }} </span>
            <ng-template #notBookmark> {{ item.text }} </ng-template>
          </a>
        </li>
      </ng-container>
      <ng-container *ngFor="let item of _itemsToView">
        <li class="nav-item me-3" *ngIf="item.show ?? true">
          <a class="nav-link" draggable="false" routerLinkActive="active" [routerLink]="item.routerLink">{{ item.text | tr }}</a>
        </li>
      </ng-container>
      <li
        class="nav-item me-3"
        ngbTooltip="{{ 'NAV_EDIT_CUSTOMIZE' | tr }}"
        placement="bottom"
        *ngIf="edible && (showEditArrow || isMobile)"
      >
        <a class="nav-link" draggable="false" routerLinkActive="active" (click)="onEdit()">
          <bi name="pencil-fill" />
        </a>
      </li>
    </ul>

    <div *ngIf="editMode" class="edit-container">
      <h5>{{ 'NAV_EDIT_CUSTOMIZE' | tr }}</h5>
      <btn-toolbar>
        <button class="btn btn-sm btn-outline-secondary" (click)="onClose()">
          <bi name="trash" />
          {{ 'CLOSE' | tr }}
        </button>

        <button class="btn btn-sm btn-success" (click)="onSave()">
          <bi name="save" />
          {{ 'SAVE' | tr }}
        </button>

        <button class="btn btn-sm btn-outline-danger" (click)="onReset()">
          <bi name="arrow-clockwise" />
          {{ 'RESET' | tr }}
        </button>

        <button class="btn btn-sm btn-outline-info" (click)="openModal(bookMarkModalContent)" *ngIf="allowBookmarks">
          <bi name="star-fill" />
          {{ 'NAV_EDIT_BOOKMARK' | tr }}
        </button>
      </btn-toolbar>

      <div
        class="list"
        [class.h-list]="!isMobile"
        [class.v-list]="isMobile"
        cdkDropList
        [cdkDropListOrientation]="isMobile ? 'vertical' : 'horizontal'"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="box" [class.h-box]="!isMobile" [class.v-box]="isMobile" *ngFor="let item of _itemsCopy" cdkDrag>
          <span *ngIf="!item.bookmark; else notBookmark">{{ item.text | tr }}</span>
          <ng-template #notBookmark>
            <span>{{ item.text }}</span>
          </ng-template>
          <button
            class="btn btn-sm btn-secondary ms-2"
            *ngIf="item.bookmark"
            (click)="removeBookmark(item)"
            ngbTooltip="{{ 'NAV_EDIT_BOOKMARK_DELETE' | tr }}"
            placement="bottom"
          >
            <bi name="trash" />
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>

<ng-template #bookMarkModalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ 'NAV_EDIT_BOOKMARK_ADD' | tr }}</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.close(undefined)"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <div>URL: {{ router.url }}</div>
        <div class="form-group">
          <label for="name">{{ 'NAME' | tr }}</label>
          <input
            ngModel
            class="form-control"
            required
            type="text"
            id="name"
            name="name"
            #nameModel="ngModel"
            minlength="3"
            maxlength="35"
            placeholder="{{ 'NAME' | tr }}"
          />
          <small *ngIf="nameModel.invalid" class="text-danger"> {{ 'NAV_EDIT_BOOKMARK_ADD_INVALID' | tr }} </small>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.close(undefined)">{{ 'CLOSE' | tr }}</button>
    <button type="button" class="btn btn-outline-success" [disabled]="nameModel.invalid" (click)="modal.close(nameModel.value)">
      {{ 'SAVE' | tr }}
    </button>
  </div>
</ng-template>
