<div class="modal-header">
  <h3 class="modal-title" id="modal-title-org-user-add">{{ 'USER' | tr }} {{ 'ADD_3' | tr | lowercase }}</h3>
  <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <div class="d-flex flex-column flex-md-row justify-content-between">
    <div class="col-12 col-md-8">
      <chip-input
        (valueChange)="orgUserChange($event)"
        [validator]="filter"
        [models]="emailAddresses"
        validationErrorText="{{ 'HOME_USERS_EMAIL_INCORRECT' | tr }}"
        placeholder="{{ 'HOME_ORGS_USERS_EMAIL_PLACEHOLDER' | tr }}"></chip-input>
    </div>

    <div class="col-12 col-md-3">
      <button class="col btn btn-outline-secondary" (click)="openScanModal()">
        {{ 'SCAN' | tr }}
        <i-bs name="qr-code-scan"></i-bs>
      </button>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-success" type="button" (click)="addOrgUser()">
    {{ 'ADD_3' | tr }}
  </button>
  <button type="button" class="btn btn-outline-secondary" ngbAutofocus (click)="activeModal.close()">{{ 'CLOSE' | tr }}</button>
</div>
