<div class="modal-header">
  <h3 class="modal-title" id="modal-title-org-user-add">{{ 'USER' | tr }} {{ 'ADD_3' | tr | lowercase }}</h3>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign.gt-sm="space-between start">
  <div fxFlex="80%" fxFlex.lt-md="100%">
    <ngb-chip-input
      (valueChange)="orgUserChange($event)"
      [filter]="filter"
      [models]="emailAddresses"
      validationErrorText="HOME_USERS_EMAIL_INCORRECT"
      placeHolder="HOME_ORGS_USERS_EMAIL_PLACEHOLDER"></ngb-chip-input>
  </div>

  <div>
    <button class="btn btn-outline-secondary" style="width: 100%" (click)="openScanModal()">
      {{ 'SCAN' | tr }}
      <i-bs name="qr-code-scan"></i-bs>
    </button>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-success" type="button" (click)="addOrgUser()">
    {{ 'ADD_3' | tr }}
  </button>
  <button type="button" class="btn btn-outline-dark" ngbAutofocus (click)="activeModal.close()">{{ 'CLOSE' | tr }}</button>
</div>
