<div class="form-group mb-2">
  <label for="input" *ngIf="label">{{ label }}</label>
  <div class="d-flex flex-column gap-2">
    <input
      id="input"
      name="input"
      type="text"
      class="form-control"
      placeholder="{{ placeholder }}"
      #instance="ngbTypeahead"
      (ngModelChange)="inputChange($event)"
      (keyup.,)="editable ? add() : null"
      (keyup.enter)="editable ? add() : null"
      (selectItem)="selectModel($event)"
      (focus)="focus$.next($any($event).target.value)"
      (click)="click$.next($any($event).target.value)"
      [formControl]="formCtrl"
      [ngbTypeahead]="search"
      [editable]="editable"
      [resultFormatter]="formatter"
      [inputFormatter]="formatter"
      [value]="modelInput"
      [class.bg-dark]="dark"
      [class.text-white]="dark"
    />
    <small class="text-danger" *ngIf="!inputValid">{{ validationErrorText }}</small>
    <div class="d-flex flex-row flex-wrap gap-2">
      <ng-container *ngIf="this._models.length > 0">
        <button type="button" class="btn btn-primary btn-sm mb-2" *ngFor="let model of this._models" (click)="remove(model)">
          {{ formatter(model) }}
          <bi name="x-circle-fill" />
        </button>
      </ng-container>
    </div>
  </div>
</div>
