<div class="d-container text-white">
  <div class="container-sm px-5">
    <app-logo-with-text></app-logo-with-text>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2%" style="margin-top: 5%; padding-bottom: 10%">
      <img style="max-width: 100%" src="assets/404.jpeg" alt="Image of cat which hides" />
      <h2>{{ '404_TITLE' | tr }}</h2>
      <button class="btn btn-primary btn-lg mt-4" style="margin-bottom: 15px" onclick="window.history.go(-1); return false;">
        {{ '404_GO_BACK' | tr }}
      </button>
    </div>
  </div>
</div>
<app-footer></app-footer>
