<div class="row">
  <div class="col">
    <h2>Sum Products</h2>
  </div>
  <div class="col text-end">
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>Diagram mode</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="setChartType('BAR')">Bar Chart</button>
        <button ngbDropdownItem (click)="setChartType('PIE')">Pie Chart</button>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="chartType === 'PIE'">
  <div style="height: 50vh">
    <ngx-charts-pie-chart scheme="cool" [results]="sumProducts" [labels]="true" [trimLabels]="false"></ngx-charts-pie-chart>
  </div>

  <div style="margin-top: 6vh"></div>
</ng-container>

<ng-container *ngIf="chartType === 'BAR'">
  <div style="height: 50vh">
    <ngx-charts-bar-vertical
      scheme="cool"
      [barPadding]="16"
      [maxXAxisTickLength]="16"
      [showDataLabel]="true"
      [showGridLines]="true"
      [xAxis]="true"
      [yAxis]="true"
      [trimXAxisTicks]="false"
      [results]="sumProducts"
      [legend]="false"></ngx-charts-bar-vertical>
  </div>

  <div style="margin-top: 6vh"></div>
</ng-container>
