<!-- Button trigger modal -->
<a (click)="open(content)">{{ 'ABOUT' | tr }}</a>

<ng-template #content let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">{{ 'ABOUT' | tr }} kellner.team</h3>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>{{ 'ABOUT_MODAL_GENERAL' | tr }}</a>
        <ng-template ngbNavContent>
          <p>{{ 'ABOUT_MODAL_GENERAL_DESCRIPTION' | tr }}</p>
          <a href="https://datepollsystems.org/waiterrobot" target="_blank" rel="noopener">{{ 'ABOUT_MODAL_GENERAL_WEBSITE' | tr }}</a>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>{{ 'ABOUT_MODAL_TECHNICAL' | tr }}</a>
        <ng-template ngbNavContent>
          <ul class="list-group">
            <li
              (mousedown)="mousedown()"
              (mouseup)="mouseup()"
              (mouseleave)="mouseup()"
              (click)="clicked()"
              class="list-group-item not-selectable">
              {{ 'ABOUT_MODAL_TECHNICAL_WEB_VERSION' | tr }}: {{ frontendVersion }}
            </li>
            <li class="list-group-item"><a href="#" rel="noopener" target="_blank">kellner.team Documentation</a></li>
          </ul>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink>{{ 'ABOUT_MODAL_TECHNICAL_USED_LIBRARIES' | tr }}</a>
        <ng-template ngbNavContent>
          <ul class="list-group">
            <li class="list-group-item">
              <a href="https://github.com/angular/angular" rel="noopener" target="_blank">Angular MIT</a>
            </li>
            <li class="list-group-item">
              <a href="https://github.com/ng-bootstrap/ng-bootstrap" rel="noopener" target="_blank">ng-bootstrap MIT</a>
            </li>
            <li class="list-group-item">
              <a href="https://github.com/aitboudad/ngx-loading-bar" rel="noopener" target="_blank">ngx-loading-bar MIT</a>
            </li>
            <li class="list-group-item">
              <a href="https://github.com/floating-ui/floating-ui" rel="noopener" target="_blank">popperjs MIT</a>
            </li>
            <li class="list-group-item">
              <a href="https://github.com/swimlane/ngx-charts" rel="noopener" target="_blank">ngx-charts MIT</a>
            </li>
            <li class="list-group-item">
              <a href="https://github.com/zxing-js/ngx-scanner" rel="noopener" target="_blank">ngx-scanner MIT</a>
            </li>
            <li class="list-group-item">
              <a href="https://github.com/Cordobo/angularx-qrcode" rel="noopener" target="_blank">angularx-qrcode MIT</a>
            </li>
            <li class="list-group-item">
              <a href="https://github.com/twbs/bootstrap" rel="noopener" target="_blank">bootstrap MIT</a>
            </li>
            <li class="list-group-item">
              <a href="https://github.com/avmaisak/ngx-bootstrap-icons/" rel="noopener" target="_blank">ngx-bootstrap-icons MIT</a>
            </li>
            <li class="list-group-item">
              <a href="https://github.com/reactivex/rxjs" rel="noopener" target="_blank">rxjs Apache-2.0</a>
            </li>
            <li class="list-group-item">
              <a href="https://github.com/Microsoft/tslib" rel="noopener" target="_blank">tslib 0BSD</a>
            </li>
          </ul>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" ngbAutofocus (click)="modal.close()">{{ 'CLOSE' | tr }}</button>
  </div>
</ng-template>
