<div fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-md="column" fxLayoutGap.lt-md="4%">
  <div class="list-group" fxFlex="22%" fxFlex.gt-lg="15%" fxHide.lt-md="true">
    <a class="list-group-item list-group-item-action" routerLink="all" routerLinkActive="active">
      <i-bs name="building"></i-bs>
      {{ 'HOME_ORGS_ALL' | tr }}</a
    >

    <a
      class="list-group-item list-group-item-action"
      routerLink="{{ selectedOrganisation?.id }}"
      *ngIf="selectedOrganisation"
      routerLinkActive="active"
      ><b>{{ selectedOrganisation.name }}</b></a
    >

    <ng-container *ngFor="let organisation of this.organisations.slice(0, maxOrgsCount)">
      <a
        class="list-group-item list-group-item-action"
        routerLink="{{ organisation.id }}"
        *ngIf="organisation.id !== selectedOrganisation?.id"
        routerLinkActive="active"
        >{{ organisation.name }}</a
      >
    </ng-container>

    <a class="list-group-item list-group-item-action" routerLink="all" *ngIf="this.organisations.length > maxOrgsCount">{{
      'SHOW_MORE' | tr
    }}</a>
  </div>
  <div fxFlex="76%" fxFlex.gt-lg="82%">
    <div class="card bg-dark">
      <div class="card-body px-4">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
