<entities-layout-component>
  <div class="list-group" nav>
    <a class="list-group-item list-group-item-action" routerLink="all" routerLinkActive="active">
      <i-bs name="building"></i-bs>
      {{ 'HOME_ORGS_ALL' | tr }}</a
    >

    <a
      class="list-group-item list-group-item-action"
      routerLink="{{ selectedOrganisation.id }}"
      *ngIf="selectedOrganisation"
      routerLinkActive="active"
      ><b>{{ selectedOrganisation.name }}</b></a
    >

    <ng-container *ngFor="let organisation of this.organisations.slice(0, maxOrgsCount); trackById">
      <a
        class="list-group-item list-group-item-action"
        routerLink="{{ organisation.id }}"
        *ngIf="organisation.id !== selectedOrganisation?.id"
        routerLinkActive="active"
        >{{ organisation.name }}</a
      >
    </ng-container>

    <a class="list-group-item list-group-item-action" routerLink="all" *ngIf="this.organisations.length > maxOrgsCount">{{
      'SHOW_MORE' | tr
    }}</a>
  </div>
</entities-layout-component>
