<div fxLayout="row break" fxLayoutAlign="space-between center">
  <h1>{{ 'HOME_ORGS_ALL' | tr }}</h1>
  <div *ngIf="myUser?.is_admin">
    <a routerLink="../create" class="btn btn-outline-success">
      <i-bs name="plus-circle"></i-bs>
      {{ 'ADD_2' | tr }}</a
    >
  </div>
</div>

<div class="spinner-row" *ngIf="!entitiesLoaded">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">{{ 'LOADING' | tr }}</span>
  </div>
</div>

<form class="mt-2" [hidden]="!entitiesLoaded">
  <div class="input-group">
    <input class="form-control ml-2 bg-dark text-white" type="text" [formControl]="filter" placeholder="{{ 'SEARCH' | tr }}" />
    <button
      class="btn btn-outline-secondary"
      type="button"
      ngbTooltip="{{ 'CLEAR' | tr }}"
      placement="bottom"
      (click)="filter.reset()"
      *ngIf="filter?.value?.length > 0">
      <i-bs name="x-circle-fill"></i-bs>
    </button>
  </div>
</form>

<div class="table-responsive" [hidden]="!entitiesLoaded">
  <table ngb-table class="table-dark" [hover]="true" [dataSource]="dataSource" ngb-sort>
    <ng-container ngbColumnDef="id">
      <th *ngbHeaderCellDef ngb-header-cell ngb-sort-header>#</th>
      <td *ngbCellDef="let organisation" ngb-cell>{{ organisation.id }}</td>
    </ng-container>

    <ng-container ngbColumnDef="name">
      <th *ngbHeaderCellDef ngb-header-cell ngb-sort-header>{{ 'NAME' | tr }}</th>
      <td *ngbCellDef="let organisation" ngb-cell>{{ organisation.name }}</td>
    </ng-container>

    <ng-container ngbColumnDef="street">
      <th *ngbHeaderCellDef ngb-header-cell ngb-sort-header>{{ 'HOME_ORGS_STREET' | tr }}</th>
      <td *ngbCellDef="let organisation" ngb-cell>{{ organisation.street }}</td>
    </ng-container>

    <ng-container ngbColumnDef="street_number">
      <th *ngbHeaderCellDef ngb-header-cell ngb-sort-header>{{ 'HOME_ORGS_STREETNUMBER' | tr }}</th>
      <td *ngbCellDef="let organisation" ngb-cell>{{ organisation.street_number }}</td>
    </ng-container>

    <ng-container ngbColumnDef="postal_code">
      <th *ngbHeaderCellDef ngb-header-cell ngb-sort-header>{{ 'HOME_ORGS_POSTAL_CODE' | tr }}</th>
      <td *ngbCellDef="let organisation" ngb-cell>{{ organisation.postal_code }}</td>
    </ng-container>

    <ng-container ngbColumnDef="city">
      <th *ngbHeaderCellDef ngb-header-cell ngb-sort-header>{{ 'HOME_ORGS_CITY' | tr }}</th>
      <td *ngbCellDef="let organisation" ngb-cell>{{ organisation.city }}</td>
    </ng-container>

    <ng-container ngbColumnDef="country_code">
      <th *ngbHeaderCellDef ngb-header-cell ngb-sort-header>{{ 'HOME_ORGS_COUNTRY_CODE' | tr }}</th>
      <td *ngbCellDef="let organisation" ngb-cell>{{ organisation.country_code }}</td>
    </ng-container>

    <ng-container ngbColumnDef="actions">
      <th *ngbHeaderCellDef ngb-header-cell>{{ 'ACTIONS' | tr }}</th>
      <td *ngbCellDef="let organisation" ngb-cell>
        <button
          *ngIf="selectedOrganisation?.id !== organisation.id"
          type="button"
          class="btn btn-sm m-1 btn-outline-primary text-white"
          (click)="onSelect(organisation)"
          ngbTooltip="{{ 'SELECT' | tr }}">
          <i-bs name="check2-square"></i-bs>
        </button>
        <button
          *ngIf="selectedOrganisation?.id === organisation.id"
          type="button"
          class="btn btn-sm m-1 btn-primary text-white"
          (click)="onSelect(undefined)"
          ngbTooltip="{{ 'CLEAR_SELECTION' | tr }}">
          <i-bs name="x-circle-fill"></i-bs>
        </button>
        <a class="btn btn-sm m-1 btn-outline-success text-white" routerLink="../{{ organisation.id }}" ngbTooltip="{{ 'EDIT' | tr }}">
          <i-bs name="pencil-square"></i-bs>
        </a>
        <button
          type="button"
          class="btn btn-sm m-1 btn-outline-danger text-white"
          ngbTooltip="{{ 'DELETE' | tr }}"
          (click)="onDelete(organisation.id)"
          *ngIf="myUser?.is_admin">
          <i-bs name="trash"></i-bs>
        </button>
      </td>
    </ng-container>

    <tr *ngbHeaderRowDef="columnsToDisplay" ngb-header-row></tr>
    <tr *ngbRowDef="let organisation; columns: columnsToDisplay" ngb-row></tr>
  </table>
</div>
