<div fxLayout="row break" fxLayoutAlign="space-between center" [hidden]="!entitiesLoaded">
  <h1>"{{ entity?.name }}" {{ 'HOME_TABLE_GROUP_TABLES_VIEW' | tr }}</h1>
  <a routerLink="../../{{ entity?.id }}" class="btn btn-outline-success">
    <i-bs name="pencil-square"></i-bs>
    {{ 'EDIT' | tr }}</a
  >
</div>

<div class="spinner-row" *ngIf="!entitiesLoaded">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">{{ 'LOADING' | tr }}</span>
  </div>
</div>

<div [hidden]="!entitiesLoaded">
  <form class="mt-2">
    <div class="input-group">
      <input class="form-control ml-2 bg-dark text-white" type="text" [formControl]="filter" placeholder="{{ 'SEARCH' | tr }}" />
      <button
        class="btn btn-outline-secondary"
        type="button"
        ngbTooltip="{{ 'CLEAR' | tr }}"
        placement="bottom"
        (click)="filter.reset()"
        *ngIf="filter?.value?.length > 0">
        <i-bs name="x-circle-fill"></i-bs>
      </button>
    </div>
  </form>

  <div class="table-responsive">
    <table class="table table-dark table-hover">
      <thead>
        <tr class="table-dark">
          <th sortable="name" (sort)="onSort($event)" style="min-width: 20vh">{{ 'NAME' | tr }}</th>
          <th style="min-width: 20vh">{{ 'ACTIONS' | tr }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let table of entitiesCopy" class="table-dark clickable">
          <td>{{ table.name }}</td>
          <td (click)="$event.stopPropagation()">
            <a class="btn btn-sm m-1 btn-outline-success text-white" routerLink="../../../{{ table.id }}" ngbTooltip="{{ 'EDIT' | tr }}">
              <i-bs name="pencil-square"></i-bs>
            </a>
            <button
              type="button"
              class="btn btn-sm m-1 btn-outline-danger text-white"
              ngbTooltip="{{ 'DELETE' | tr }}"
              (click)="onDelete(table.id)">
              <i-bs name="trash"></i-bs>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
