<div [hidden]="isEditing && !entityLoaded">
  <h1 *ngIf="isEditing && entity">{{ 'EDIT_2' | tr }} "{{ entity.name }}"</h1>
  <h1 *ngIf="!isEditing">{{ 'HOME_TABLES_ADD' | tr }}</h1>

  <btn-toolbar>
    <div>
      <button class="btn btn-sm btn-dark text-white" (click)="onGoBack()">{{ 'GO_BACK' | tr }}</button>
    </div>

    <app-btn-model-edit-confirm [form]="f" [editing]="isEditing"></app-btn-model-edit-confirm>

    <ng-container *ngIf="isEditing && entity">
      <div>
        <button class="btn btn-sm btn-outline-danger" (click)="onDelete(entity.id)">
          <i-bs name="trash"></i-bs>
          {{ 'DELETE' | tr }}
        </button>
      </div>
    </ng-container>
  </btn-toolbar>

  <form id="ngForm" #f="ngForm" (ngSubmit)="onSave(f)">
    <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs bg-dark" (navChange)="setTabId($event.nextId)">
      <li [ngbNavItem]="1">
        <a ngbNavLink>{{ 'DATA' | tr }}</a>
        <ng-template ngbNavContent>
          <div class="d-flex flex-column flex-md-row gap-4 mb-3">
            <div class="form-group col-12 col-md-3">
              <label for="number">{{ 'NUMBER' | tr }}</label>
              <!--              (keyup.enter)='onSave(f)'-->
              <input
                focus
                ngModel
                class="form-control bg-dark text-white"
                required
                type="number"
                id="number"
                name="number"
                #numberModel="ngModel"
                minlength="3"
                placeholder="{{ 'NUMBER' | tr }}"
                [ngModel]="isEditing ? entity?.tableNumber : null" />

              <small *ngIf="numberModel.invalid" class="text-danger">
                {{ 'HOME_TABLES_NUMBER_INCORRECT' | tr }}
              </small>
            </div>

            <div class="form-group col-12 col-md-3">
              <label for="seats">{{ 'SEATS' | tr }}</label>
              <input
                ngModel
                class="form-control bg-dark text-white"
                required
                type="number"
                id="seats"
                name="seats"
                #seatsModel="ngModel"
                minlength="3"
                placeholder="{{ 'SEATS' | tr }}"
                [ngModel]="isEditing ? entity?.seats : null" />
              <small *ngIf="seatsModel.invalid" class="text-danger">
                {{ 'HOME_TABLES_SEATS_INCORRECT' | tr }}
              </small>
            </div>

            <div class="form-group col">
              <label for="selectTableGroup">{{ 'HOME_TABLE_GROUPS' | tr }}</label>
              <div class="input-group">
                <span class="input-group-text bg-dark text-white" id="selectTableGroup-addon1"><i-bs name="diagram-3"></i-bs></span>
                <select
                  class="form-select bg-dark text-white"
                  id="selectTableGroup"
                  name="groupId"
                  [(ngModel)]="selectedTableGroup"
                  (ngModelChange)="selectTableGroup($event)"
                  required>
                  <option [ngValue]="undefined" disabled>{{ 'HOME_TABLES_GROUPS_DEFAULT' | tr }}</option>
                  <option [ngValue]="tableGroup.id" *ngFor="let tableGroup of this.tableGroups; trackById">{{ tableGroup.name }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-check form-switch mt-2" *ngIf="!isEditing">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="continuousCreation"
              [(ngModel)]="continuousCreation"
              [ngModelOptions]="{standalone: true}" />
            <label class="form-check-label" for="continuousCreation">{{ 'CONTINUOUS_CREATION' | tr }}</label>
          </div>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2 bg-dark"></div>
  </form>
</div>

<app-spinner-row [loading]="isEditing && !entityLoaded"></app-spinner-row>
