<h1>{{ 'HOME_TABLES' | tr }}</h1>

<app-btn-toolbar>
  <div>
    <a routerLink="../create" class="btn btn-sm btn-outline-success">
      <i-bs name="plus-circle"></i-bs>
      {{ 'ADD_2' | tr }}</a
    >
  </div>
</app-btn-toolbar>

<div class="spinner-row" *ngIf="!entitiesLoaded">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">{{ 'LOADING' | tr }}</span>
  </div>
</div>

<form class="mt-2" [hidden]="!entitiesLoaded">
  <div class="input-group">
    <input class="form-control ml-2 bg-dark text-white" type="text" [formControl]="filter" placeholder="{{ 'SEARCH' | tr }}" />
    <button
      class="btn btn-outline-secondary"
      type="button"
      ngbTooltip="{{ 'CLEAR' | tr }}"
      placement="bottom"
      (click)="filter.reset()"
      *ngIf="filter?.value?.length > 0">
      <i-bs name="x-circle-fill"></i-bs>
    </button>
  </div>
</form>

<div class="table-responsive" [hidden]="!entitiesLoaded">
  <table ngb-table class="table-dark" [hover]="true" [dataSource]="dataSource" ngb-sort>
    <ng-container ngbColumnDef="groupName">
      <th *ngbHeaderCellDef ngb-header-cell ngb-sort-header>{{ 'HOME_TABLE_GROUP_TABLES_VIEW' | tr }}</th>
      <td *ngbCellDef="let table" ngb-cell>{{ table.groupName }}</td>
    </ng-container>

    <ng-container ngbColumnDef="number">
      <th *ngbHeaderCellDef ngb-header-cell ngb-sort-header>{{ 'NUMBER' | tr }}</th>
      <td *ngbCellDef="let table" ngb-cell>{{ table.name }}</td>
    </ng-container>

    <ng-container ngbColumnDef="seats">
      <th *ngbHeaderCellDef ngb-header-cell ngb-sort-header>{{ 'SEATS' | tr }}</th>
      <td *ngbCellDef="let table" ngb-cell>{{ table.seats }}</td>
    </ng-container>

    <ng-container ngbColumnDef="actions">
      <th *ngbHeaderCellDef ngb-header-cell>{{ 'ACTIONS' | tr }}</th>
      <td *ngbCellDef="let table" ngb-cell>
        <a class="btn btn-sm m-1 btn-outline-success text-white" routerLink="../{{ table.id }}" ngbTooltip="{{ 'EDIT' | tr }}">
          <i-bs name="pencil-square"></i-bs>
        </a>
        <button
          type="button"
          class="btn btn-sm m-1 btn-outline-danger text-white"
          ngbTooltip="{{ 'DELETE' | tr }}"
          (click)="onDelete(table.id)">
          <i-bs name="trash"></i-bs>
        </button>
      </td>
    </ng-container>

    <tr *ngbHeaderRowDef="columnsToDisplay" ngb-header-row></tr>
    <tr *ngbRowDef="let table; columns: columnsToDisplay" ngb-row></tr>
  </table>
</div>
