<div [hidden]="isEditing && !entityLoaded">
  <h1 *ngIf="isEditing && entity">{{ 'EDIT_2' | tr }} {{ entity.name }}</h1>
  <h1 *ngIf="!isEditing">{{ 'ADD_2' | tr }}</h1>

  <btn-toolbar>
    <div>
      <button class="btn btn-sm btn-dark text-white" (click)="onGoBack()">{{ 'GO_BACK' | tr }}</button>
    </div>

    <app-btn-model-edit-confirm [form]="f" [editing]="isEditing"></app-btn-model-edit-confirm>

    <ng-container *ngIf="isEditing && entity">
      <div>
        <button class="btn btn-sm btn-outline-danger" (click)="onDelete(entity.id)">
          <i-bs name="trash"></i-bs>
          {{ 'DELETE' | tr }}
        </button>
      </div>
    </ng-container>
  </btn-toolbar>

  <form id="ngForm" #f="ngForm" (ngSubmit)="onSave(f)">
    <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs mt-3 bg-dark" (navChange)="setTabId($event.nextId)">
      <li [ngbNavItem]="1">
        <a ngbNavLink>{{ 'DATA' | tr }}</a>
        <ng-template ngbNavContent>
          <div class="d-flex flex-column flex-md-row gap-4 mb-4">
            <div class="col form-group">
              <label for="name">{{ 'NAME' | tr }}</label>
              <input
                ngModel
                class="form-control bg-dark text-white"
                required
                type="text"
                id="name"
                name="name"
                #nameModel="ngModel"
                minlength="1"
                maxlength="120"
                placeholder="{{ 'NAME' | tr }}"
                [ngModel]="isEditing ? entity?.name : null" />

              <small *ngIf="nameModel.invalid" class="text-danger">
                {{ 'HOME_PRINTER_NAME_INCORRECT' | tr }}
              </small>
            </div>

            <div class="col form-group">
              <label for="name">{{ 'HOME_PRINTER_NAME' | tr }}</label>
              <input
                ngModel
                class="form-control bg-dark text-white"
                required
                type="text"
                id="printerName"
                name="printerName"
                #printerNameModel="ngModel"
                minlength="1"
                maxlength="70"
                placeholder="{{ 'NAME' | tr }}"
                [ngModel]="isEditing ? entity?.printerName : undefined" />

              <small *ngIf="printerNameModel.invalid" class="text-danger">
                {{ 'HOME_PRINTER_NAME_NAME_INCORRECT' | tr }}
              </small>
            </div>
          </div>

          <div class="d-flex flex-column flex-md-row gap-4">
            <div class="col-12 col-md-6 form-group">
              <label for="eventId">{{ 'NAV_EVENTS' | tr }}</label>
              <div class="input-group">
                <span class="input-group-text bg-dark text-white" id="eventId-addon"><i-bs name="diagram-3"></i-bs></span>
                <select
                  class="form-select bg-dark text-white"
                  [ngModel]="isEditing ? entity?.eventId : selectedEvent ? selectedEvent.id : undefined"
                  #selectEventModel="ngModel"
                  id="eventId"
                  name="eventId"
                  required>
                  <option [ngValue]="undefined" disabled>{{ 'HOME_PRINTER_SELECT_EVENT_DEFAULT' | tr }}</option>
                  <option [ngValue]="event.id" *ngFor="let event of this.events; trackById">
                    {{ event.name }}
                  </option>
                </select>
              </div>
              <small *ngIf="selectEventModel.invalid" class="text-danger">
                {{ 'HOME_PRINTER_SELECT_EVENT_INCORRECT' | tr }}
              </small>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2" *ngIf="isEditing">
        <a ngbNavLink>{{ 'STATISTICS' | tr }}</a>
        <ng-template ngbNavContent> Coming soon...</ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2 bg-dark"></div>
  </form>
</div>

<app-spinner-row [loading]="isEditing && !entityLoaded"></app-spinner-row>
