<div [hidden]="isEditing && !entityLoaded" *ngSub="myUser$ as myUser">
  <h1 *ngIf="isEditing && entity">{{ 'EDIT_2' | tr }} {{ entity.name }}</h1>
  <h1 *ngIf="!isEditing">{{ 'ADD_2' | tr }}</h1>

  <btn-toolbar>
    <div>
      <button class="btn btn-sm btn-dark text-white" (click)="onGoBack('/home/organisations/all')">
        {{ 'GO_BACK' | tr }}
      </button>
    </div>

    <app-btn-model-edit-confirm *ngIf="myUser?.isAdmin && activeTab === 1" [form]="form" [editing]="isEditing" />

    <ng-container *ngIf="isEditing && entity">
      <div *ngIf="myUser?.isAdmin && activeTab === 1">
        <button class="btn btn-sm btn-outline-danger" (click)="onDelete(entity.id)">
          <i-bs name="trash" />
          {{ 'DELETE' | tr }}
        </button>
      </div>
      <div>
        <selectable-button class="my-2" [entity]="entity" [selectedEntityService]="organisationsService" />
      </div>
    </ng-container>
  </btn-toolbar>

  <form id="ngForm" #form="ngForm" (ngSubmit)="onSave(form)">
    <ul
      ngbNav
      #nav="ngbNav"
      [(activeId)]="activeTab"
      [destroyOnHide]="false"
      class="nav-tabs bg-dark"
      (navChange)="setTabId($event.nextId)">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Daten</a>
        <ng-template ngbNavContent>
          <div class="d-flex flex-column flex-md-row gap-4 mb-3">
            <div class="form-group col">
              <label for="name">{{ 'NAME' | tr }}</label>
              <input
                ngModel
                class="form-control bg-dark text-white"
                required
                type="text"
                id="name"
                name="name"
                #nameModel="ngModel"
                [disabled]="!myUser?.isAdmin"
                minlength="4"
                maxlength="40"
                placeholder="{{ 'NAME' | tr }}"
                [ngModel]="isEditing ? entity?.name : null" />

              <small *ngIf="nameModel.invalid" class="text-danger">
                {{ 'HOME_ORGS_NAME_INCORRECT' | tr }}
              </small>
            </div>
          </div>

          <div class="d-flex flex-column flex-md-row justify-content-between gap-4 mb-3">
            <div class="form-group col-12 col-md-7">
              <label for="street">{{ 'HOME_ORGS_STREET' | tr }}</label>
              <input
                ngModel
                class="form-control bg-dark text-white"
                required
                type="text"
                id="street"
                name="street"
                minlength="4"
                maxlength="80"
                #streetModel="ngModel"
                [disabled]="!myUser?.isAdmin"
                placeholder="{{ 'HOME_ORGS_STREET' | tr }}"
                [ngModel]="isEditing ? entity?.street : null" />
              <small *ngIf="streetModel.invalid" class="text-danger">
                {{ 'HOME_ORGS_STREET_INCORRECT' | tr }}
              </small>
            </div>
            <div class="form-group col-12 col-md-4">
              <label for="streetNumber">{{ 'HOME_ORGS_STREETNUMBER' | tr }}</label>
              <input
                ngModel
                class="form-control bg-dark text-white"
                required
                type="text"
                id="streetNumber"
                #streetNumberModel="ngModel"
                [disabled]="!myUser?.isAdmin"
                name="streetNumber"
                minlength="1"
                maxlength="20"
                placeholder="{{ 'HOME_ORGS_STREETNUMBER' | tr }}"
                [ngModel]="isEditing ? entity?.streetNumber : null" />
              <small *ngIf="streetNumberModel.invalid" class="text-danger">
                {{ 'HOME_ORGS_STREETNUMBER_INCORRECT' | tr }}
              </small>
            </div>
          </div>

          <div class="d-flex flex-column flex-md-row justify-content-between gap-4 mb-3">
            <div class="form-group col-12 col-md-3">
              <label for="postalCode">{{ 'HOME_ORGS_POSTAL_CODE' | tr }}</label>
              <input
                ngModel
                class="form-control bg-dark text-white"
                required
                type="text"
                id="postalCode"
                #postalCodeModel="ngModel"
                [disabled]="!myUser?.isAdmin"
                name="postalCode"
                minlength="2"
                maxlength="16"
                placeholder="{{ 'HOME_ORGS_POSTAL_CODE' | tr }}"
                [ngModel]="isEditing ? entity?.postalCode : null" />
              <small *ngIf="postalCodeModel.invalid" class="text-danger">
                {{ 'HOME_ORGS_POSTAL_CODE_INCORRECT' | tr }}
              </small>
            </div>

            <div class="form-group col-12 col-md-6">
              <label for="city">{{ 'HOME_ORGS_CITY' | tr }}</label>
              <input
                ngModel
                class="form-control bg-dark text-white"
                required
                type="text"
                id="city"
                name="city"
                #cityModel="ngModel"
                [disabled]="!myUser?.isAdmin"
                minlength="4"
                maxlength="60"
                placeholder="{{ 'HOME_ORGS_CITY' | tr }}"
                [ngModel]="isEditing ? entity?.city : null" />
              <small *ngIf="cityModel.invalid" class="text-danger">
                {{ 'HOME_ORGS_CITY_INCORRECT' | tr }}
              </small>
            </div>

            <div class="form-group col-12 col-md-2">
              <label for="countryCode">{{ 'HOME_ORGS_COUNTRY_CODE' | tr }}</label>
              <input
                ngModel
                class="form-control bg-dark text-white"
                required
                type="text"
                id="countryCode"
                #countryCodeModel="ngModel"
                [disabled]="!myUser?.isAdmin"
                name="countryCode"
                minlength="2"
                maxlength="4"
                placeholder="{{ 'HOME_ORGS_COUNTRY_CODE' | tr }}"
                [ngModel]="isEditing ? entity?.countryCode : null" />
              <small *ngIf="countryCodeModel.invalid" class="text-danger">
                {{ 'HOME_ORGS_COUNTRY_CODE_INCORRECT' | tr }}
              </small>
            </div>
          </div>
        </ng-template>
      </li>

      <li [ngbNavItem]="2" *ngIf="isEditing">
        <a ngbNavLink>{{ 'USER' | tr }}</a>
        <ng-template ngbNavContent>
          <div class="d-flex flex-column flex-md-row gap-3 mb-3 justify-content-between">
            <form class="col-12 col-md-6">
              <div class="input-group">
                <input class="form-control ml-2 bg-dark text-white" type="text" [formControl]="filter" placeholder="{{ 'SEARCH' | tr }}" />
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  ngbTooltip="{{ 'CLEAR' | tr }}"
                  placement="bottom"
                  (click)="filter.reset()"
                  *ngIf="filter?.value?.length > 0">
                  <i-bs name="x-circle-fill" />
                </button>
              </div>
            </form>

            <button class="col-12 col-md-3 col-lg-2 btn btn-secondary" type="button" (click)="openAddUserModal()">
              <i-bs name="save" />
              {{ 'ADD_3' | tr }}
            </button>
          </div>

          <div class="table-responsive mt-3">
            <table ngb-table [hover]="true" [dataSource]="dataSource" ngb-sort>
              <ng-container ngbColumnDef="name">
                <th *ngbHeaderCellDef ngb-header-cell ngb-sort-header>{{ 'NAME' | tr }}</th>
                <td *ngbCellDef="let organisationUser" ngb-cell>{{ organisationUser.name }}</td>
              </ng-container>

              <ng-container ngbColumnDef="email">
                <th *ngbHeaderCellDef ngb-header-cell ngb-sort-header>{{ 'EMAIL' | tr }}</th>
                <td *ngbCellDef="let organisationUser" ngb-cell>{{ organisationUser.id }}</td>
              </ng-container>

              <ng-container ngbColumnDef="role">
                <th *ngbHeaderCellDef ngb-header-cell ngb-sort-header>{{ 'ROLE' | tr }}</th>
                <td *ngbCellDef="let organisationUser" ngb-cell>
                  {{ organisationUser.role }}
                  <a class="btn btn-sm m-1 btn-outline-success text-white" ngbTooltip="{{ 'EDIT' | tr }}">
                    <i-bs name="pencil-square" />
                  </a>
                </td>
              </ng-container>

              <ng-container ngbColumnDef="actions">
                <th *ngbHeaderCellDef ngb-header-cell>{{ 'ACTIONS' | tr }}</th>
                <td *ngbCellDef="let organisationUser" ngb-cell>
                  <button
                    type="button"
                    class="btn btn-sm m-1 btn-outline-danger text-white"
                    ngbTooltip="{{ 'DELETE' | tr }}"
                    (click)="onOrgUserDelete(organisationUser)"
                    *ngIf="myUser?.isAdmin || this.myUser?.emailAddress !== organisationUser.email_address">
                    <i-bs name="trash" />
                  </button>
                </td>
              </ng-container>

              <tr *ngbHeaderRowDef="columnsToDisplay" ngb-header-row></tr>
              <tr *ngbRowDef="let organisationUser; columns: columnsToDisplay" ngb-row></tr>
            </table>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="3" *ngIf="isEditing">
        <a ngbNavLink>{{ 'SETTINGS' | tr }}</a>
        <ng-template ngbNavContent>
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="activateWaiterOnSignInViaCreateToken"
              [checked]="settings?.activateWaiterOnSignInViaCreateToken"
              (click)="setActivateWaiterOnSignInViaCreateToken()" />
            <label class="form-check-label" for="activateWaiterOnSignInViaCreateToken">
              {{ 'HOME_ORGS_SETTINGS_ACTIVATE_WAITER_ON_SIGN_IN_VIA_CREATE_TOKEN' | tr }}</label
            >
          </div>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2 bg-dark"></div>
  </form>
</div>

<app-spinner-row [show]="isEditing && !entityLoaded" />
