<div fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-md="column" fxLayoutGap.lt-md="4%">
  <div class="list-group" fxFlex="25%" fxFlex.gt-lg="15%">
    <a class="list-group-item list-group-item-action" routerLink="settings" routerLinkActive="active">
      <i-bs name="gear-wide-connected"></i-bs>
      {{ 'NAV_USER_SETTINGS' | tr }}</a
    >
    <a class="list-group-item list-group-item-action" routerLink="sessions" routerLinkActive="active">
      <i-bs name="file-lock"></i-bs>
      {{ 'NAV_USER_SESSIONS' | tr }}</a
    >
  </div>
  <div fxFlex="74%" fxFlex.gt-lg="82%">
    <div class="card bg-dark">
      <div class="card-body px-4">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
