<div fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-md="column" fxLayoutGap.lt-md="4%">
  <div class="list-group" fxFlex="22%" fxFlex.gt-lg="15%">
    <a class="list-group-item list-group-item-action" routerLink="settings"
       routerLinkActive="active"><bi name="gear-wide-connected"></bi>{{ 'NAV_USER_SETTINGS' | tr }}</a>
    <a class="list-group-item list-group-item-action" routerLink="sessions"
       routerLinkActive="active"><bi name="file-lock"></bi>{{ 'NAV_USER_SESSIONS' | tr }}</a>
  </div>
  <div fxFlex="76%" fxFlex.gt-lg="82%">
    <router-outlet></router-outlet>
  </div>
</div>
