<div [hidden]="isEditing && !entityLoaded">
  <h1 *ngIf="isEditing && entity">{{ 'EDIT_2' | tr }} "{{ entity.firstname }} {{ entity.surname }}"</h1>
  <h1 *ngIf="!isEditing">{{ 'ADD_2' | tr }}</h1>

  <div fxLayout="row break" fxLayoutGap="2%" fxLayoutGap.gt-md="1%">
    <div>
      <button class="btn btn-sm btn-outline-dark text-white my-2 my-md-0" (click)="onGoBack()">{{ 'GO_BACK' | tr }}</button>
    </div>

    <ng-container *ngIf="isEditing && entity">
      <div>
        <button class="btn btn-sm btn-success my-2 my-md-0" (click)="f.ngSubmit.emit()" [disabled]="!f.valid">
          <i-bs name="save"></i-bs>
          {{ 'SAVE' | tr }}
        </button>
      </div>
      <div>
        <button class="btn btn-sm btn-outline-danger my-2 my-md-0" (click)="onDelete(entity.id)">
          <i-bs name="trash"></i-bs>
          {{ 'DELETE' | tr }}
        </button>
      </div>
    </ng-container>

    <div *ngIf="!isEditing">
      <button class="btn btn-sm btn-success my-2 my-md-0" (click)="f.ngSubmit.emit()" [disabled]="!f || !f.valid">
        <i-bs name="plus-circle"></i-bs>
        {{ 'ADD' | tr }}
      </button>
    </div>
  </div>

  <form #f="ngForm" (ngSubmit)="onSave(f)">
    <ul
      ngbNav
      #nav="ngbNav"
      [(activeId)]="activeTab"
      [destroyOnHide]="false"
      class="nav-tabs mt-3 bg-dark"
      (navChange)="setTabId($event.nextId)">
      <li [ngbNavItem]="1">
        <a ngbNavLink>{{ 'DATA' | tr }}</a>
        <ng-template ngbNavContent>
          <div fxLayout="row break" fxLayout.lt-sm="column" fxLayoutGap="2%">
            <div class="form-group" fxFlex fxFlex.lt-lg="100%">
              <label for="email">{{ 'EMAIL' | tr }}</label>
              <input
                ngModel
                class="form-control bg-dark text-white"
                required
                type="email"
                id="email"
                email
                name="emailAddress"
                #emailModel="ngModel"
                minlength="6"
                maxlength="255"
                placeholder="{{ 'EMAIL' | tr }}"
                [ngModel]="isEditing ? entity?.emailAddress : null" />

              <small *ngIf="emailModel.invalid" class="text-danger">
                {{ 'HOME_USERS_EMAIL_INCORRECT' | tr }}
              </small>
            </div>

            <div class="form-group" fxFlex fxFlex.lt-lg="49%">
              <label for="firstname">{{ 'FIRSTNAME' | tr }}</label>
              <input
                ngModel
                class="form-control bg-dark text-white"
                required
                type="text"
                id="firstname"
                name="firstname"
                #firstnameModel="ngModel"
                minlength="3"
                maxlength="35"
                placeholder="{{ 'FIRSTNAME' | tr }}"
                [ngModel]="isEditing ? entity?.firstname : null" />

              <small *ngIf="firstnameModel.invalid" class="text-danger">
                {{ 'HOME_USERS_NAME_INCORRECT' | tr }}
              </small>
            </div>

            <div class="form-group" fxFlex fxFlex.lt-lg="49%">
              <label for="surname">{{ 'SURNAME' | tr }}</label>
              <input
                ngModel
                class="form-control bg-dark text-white"
                required
                type="text"
                id="surname"
                name="surname"
                #surnameModel="ngModel"
                minlength="4"
                maxlength="35"
                placeholder="{{ 'SURNAME' | tr }}"
                [ngModel]="isEditing ? entity?.surname : null" />
              <small *ngIf="surnameModel.invalid" class="text-danger">
                {{ 'HOME_USERS_SUR_NAME_INCORRECT' | tr }}
              </small>
            </div>
          </div>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="2%" class="mt-2">
            <div class="form-group" fxFlex="50%">
              <label for="birthday">{{ 'HOME_USERS_BIRTHDAY' | tr }}</label>
              <div class="input-group">
                <input
                  type="text"
                  ngbDatepicker
                  ngModel
                  class="form-control bg-dark text-white"
                  id="birthday"
                  required
                  #birthdayModel="ngModel"
                  #birthdayPicker="ngbDatepicker"
                  name="birthday"
                  placeholder="09.12.2021"
                  [ngModel]="isEditing ? entity?.birthday : null" />
                <button class="btn btn-outline-light" (click)="birthdayPicker.toggle()" type="button">
                  <i-bs name="calendar-date"></i-bs>
                </button>
              </div>

              <small *ngIf="birthdayModel.invalid" class="text-danger">
                {{ 'HOME_USERS_BIRTHDAY_INCORRECT' | tr }}
              </small>
            </div>

            <div class="form-group" fxFlex="50%">
              <label for="password">{{ 'PASSWORD' | tr }}</label>
              <input
                ngModel
                class="form-control bg-dark text-white"
                type="password"
                id="password"
                #passwordModel="ngModel"
                [minlength]="isEditing ? 0 : 6"
                [required]="!isEditing"
                name="password"
                placeholder="{{ 'PASSWORD' | tr }}" />
              <small *ngIf="passwordModel.invalid" class="text-danger">
                {{ 'HOME_USERS_PASSWORD_INCORRECT' | tr }}
              </small>
            </div>
          </div>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="2%" class="mt-2">
            <div class="form-check">
              <input
                ngModel
                class="form-check-input"
                type="checkbox"
                id="isAdmin"
                [ngModel]="isEditing ? entity?.isAdmin : null"
                name="isAdmin" />
              <label class="form-check-label" for="isAdmin">
                {{ 'HOME_USERS_ADMIN' | tr }}
              </label>
            </div>

            <div class="form-check">
              <input
                ngModel
                class="form-check-input"
                type="checkbox"
                id="activated"
                [ngModel]="isEditing ? entity?.activated : null"
                name="activated" />
              <label class="form-check-label" for="activated">
                {{ 'HOME_USERS_ACTIVATED' | tr }}
              </label>
            </div>

            <div class="form-check" *ngIf="isEditing">
              <input
                ngModel
                class="form-check-input"
                type="checkbox"
                id="forcePasswordChange"
                [ngModel]="isEditing ? entity?.forcePasswordChange : null"
                name="force_password_change" />
              <label class="form-check-label" for="forcePasswordChange">
                {{ 'HOME_USERS_FORCE_PASSWORD_CHANGE' | tr }}
              </label>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>{{ 'NAV_ORGANISATIONS' | tr }}</a>
        <ng-template ngbNavContent> Coming soon...</ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2 bg-dark"></div>
  </form>
</div>

<div class="spinner-row" *ngIf="isEditing && !entityLoaded">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">{{ 'LOADING' | tr }}</span>
  </div>
</div>
