#footerContainer {
  background-color: var(--primary-7);
  color: white;
}

.footerHeaderContainer {
  padding-top: 18px;
  padding-bottom: 15px;
}

#footerBarContainer {
  background-color: var(--primary-8);
  padding-top: 18px;
  padding-bottom: 15px;
  color: rgba(255, 255, 255, 0.8);
}

.footer-heading {
  font-size: 24px;
  margin-bottom: 24px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  color: white;
  text-align: end;
}

li a {
  color: #eeeeee;
}

li a:hover {
  color: #bdbdbd;
  cursor: pointer;
}
