<div [hidden]="isEditing && !entityLoaded">
  <h1 *ngIf="isEditing && entity">{{ 'EDIT_2' | tr }} {{ entity.name }}</h1>
  <h1 *ngIf="!isEditing">{{ 'ADD_2' | tr }}</h1>

  <div fxLayout="row break" fxLayoutGap="2%" fxLayoutGap.gt-md="1%">
    <div>
      <button class="btn btn-sm btn-outline-dark text-white my-2" (click)="onGoBack('/home/events/all')">{{ 'GO_BACK' | tr }}</button>
    </div>

    <ng-container *ngIf="isEditing && entity">
      <ng-container *ngIf="myUser?.isAdmin">
        <div *ngIf="activeTab === 1">
          <button class="btn btn-sm btn-success my-2" (click)="f.ngSubmit.emit()" [disabled]="!f.valid">
            <i-bs name="save"></i-bs>
            {{ 'SAVE' | tr }}
          </button>
        </div>
        <div>
          <button class="btn btn-sm btn-outline-danger my-2" (click)="onDelete(entity.id)">
            <i-bs name="trash"></i-bs>
            {{ 'DELETE' | tr }}
          </button>
        </div>
      </ng-container>
      <selectable-button
        class="my-2"
        [selectedEntity]="selectedEvent"
        [entity]="entity"
        [selectedEntityService]="eventsService"></selectable-button>
      <div>
        <button class="btn btn-sm btn-outline-primary my-2" (click)="openQRCode(entity)">
          <i-bs name="qr-code"></i-bs>
          {{ 'HOME_WAITERS_EVENT_CREATE_QR_CODE' | tr }}
        </button>
      </div>
      <div>
        <button class="btn btn-sm btn-outline-secondary my-2 disabled">
          <i-bs name="clipboard"></i-bs>
          {{ 'COPY' | tr }}
        </button>
      </div>
      <div>
        <button class="btn btn-sm btn-outline-secondary my-2 disabled">
          <i-bs name="save"></i-bs>
          {{ 'EXPORT' | tr }}
        </button>
      </div>
    </ng-container>

    <div *ngIf="!isEditing">
      <button class="btn btn-sm btn-success my-2" (click)="f.ngSubmit.emit()" [disabled]="!f || !f.valid">
        <i-bs name="plus-circle"></i-bs>
        {{ 'ADD' | tr }}
      </button>
    </div>
  </div>

  <form #f="ngForm" (ngSubmit)="onSave(f)">
    <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs mt-3 bg-dark" (navChange)="setTabId($event.nextId)">
      <li [ngbNavItem]="1">
        <a ngbNavLink>{{ 'DATA' | tr }}</a>
        <ng-template ngbNavContent>
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="2%">
            <div class="form-group" fxFlex="70%">
              <label for="name">{{ 'NAME' | tr }}</label>
              <input
                ngModel
                class="form-control bg-dark text-white"
                required
                type="text"
                id="name"
                name="name"
                #nameModel="ngModel"
                [disabled]="!myUser?.isAdmin"
                minlength="5"
                placeholder="{{ 'NAME' | tr }}"
                [ngModel]="isEditing ? entity?.name : null" />

              <small *ngIf="nameModel.invalid" class="text-danger">
                {{ 'HOME_ORGS_NAME_INCORRECT' | tr }}
              </small>
            </div>

            <div class="form-group" fxFlex="28%">
              <label for="name">{{ 'DATE' | tr }}</label>
              <div class="input-group">
                <input
                  type="text"
                  ngbDatepicker
                  ngModel
                  class="form-control bg-dark text-white"
                  id="date"
                  #datePicker="ngbDatepicker"
                  name="date"
                  [placeholder]="myUser?.isAdmin ? '13.12.2021' : ''"
                  [disabled]="!myUser?.isAdmin"
                  [ngModel]="isEditing ? entity?.date : null" />
                <button class="btn btn-outline-light" (click)="datePicker.toggle()" type="button" *ngIf="myUser?.isAdmin">
                  <i-bs name="calendar-date"></i-bs>
                </button>
              </div>
            </div>
          </div>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="2%" class="mt-2">
            <div class="form-group" fxFlex="70%">
              <label for="street">{{ 'HOME_ORGS_STREET' | tr }}</label>
              <input
                ngModel
                class="form-control bg-dark text-white"
                required
                type="text"
                id="street"
                name="street"
                #streetModel="ngModel"
                [disabled]="!myUser?.isAdmin"
                minlength="1"
                placeholder="{{ 'HOME_ORGS_STREET' | tr }}"
                [ngModel]="isEditing ? entity?.street : null" />
              <small *ngIf="streetModel.invalid" class="text-danger">
                {{ 'HOME_ORGS_STREET_INCORRECT' | tr }}
              </small>
            </div>
            <div class="form-group" fxFlex="28%">
              <label for="street_number">{{ 'HOME_ORGS_STREETNUMBER' | tr }}</label>
              <input
                ngModel
                class="form-control bg-dark text-white"
                required
                type="text"
                id="street_number"
                #streetNumberModel="ngModel"
                [disabled]="!myUser?.isAdmin"
                name="street_number"
                minlength="1"
                placeholder="{{ 'HOME_ORGS_STREETNUMBER' | tr }}"
                [ngModel]="isEditing ? entity?.streetNumber : null" />
              <small *ngIf="streetNumberModel.invalid" class="text-danger">
                {{ 'HOME_ORGS_STREETNUMBER_INCORRECT' | tr }}
              </small>
            </div>
          </div>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="2%" class="mt-2">
            <div class="form-group" fxFlex="28%">
              <label for="postal_code">{{ 'HOME_ORGS_POSTAL_CODE' | tr }}</label>
              <input
                ngModel
                class="form-control bg-dark text-white"
                required
                type="text"
                id="postal_code"
                #postalCodeModel="ngModel"
                [disabled]="!myUser?.isAdmin"
                name="postal_code"
                minlength="1"
                placeholder="{{ 'HOME_ORGS_POSTAL_CODE' | tr }}"
                [ngModel]="isEditing ? entity?.postalCode : null" />
              <small *ngIf="postalCodeModel.invalid" class="text-danger">
                {{ 'HOME_ORGS_POSTAL_CODE_INCORRECT' | tr }}
              </small>
            </div>

            <div class="form-group" fxFlex="70%">
              <label for="city">{{ 'HOME_ORGS_CITY' | tr }}</label>
              <input
                ngModel
                class="form-control bg-dark text-white"
                required
                type="text"
                id="city"
                name="city"
                #cityModel="ngModel"
                [disabled]="!myUser?.isAdmin"
                minlength="1"
                placeholder="{{ 'HOME_ORGS_CITY' | tr }}"
                [ngModel]="isEditing ? entity?.city : null" />
              <small *ngIf="cityModel.invalid" class="text-danger">
                {{ 'HOME_ORGS_CITY_INCORRECT' | tr }}
              </small>
            </div>
          </div>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="2%" class="mt-2">
            <div class="form-check" *ngIf="isEditing && myUser?.isAdmin">
              <input
                ngModel
                class="form-check-input"
                type="checkbox"
                id="update_waiter_create_token"
                name="update_waiter_create_token"
                value="" />
              <label class="form-check-label" for="update_waiter_create_token">
                {{ 'HOME_EVENTS_UPDATE_CREATE_WAITER_TOKEN' | tr }}
              </label>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2" *ngIf="isEditing">
        <a ngbNavLink>{{ 'STATISTICS' | tr }}</a>
        <ng-template ngbNavContent> Coming soon...</ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2 bg-dark"></div>
  </form>
</div>

<div class="spinner-row" *ngIf="isEditing && !entityLoaded">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">{{ 'LOADING' | tr }}</span>
  </div>
</div>
