<div class="form-group">
  <label for="input">{{ label | tr }}</label>
  <div fxLayout="column" fxLayoutGap="2%">
    <input
      id="input"
      name="input"
      type="text"
      class="form-control"
      [formControl]="formCtrl"
      (ngModelChange)="inputChange($event)"
      (keyup.enter)="add()"
      (keyup.,)="add()"
      placeholder="{{ placeHolder | tr }}" />
    <small class="text-warning" *ngIf="!inputValid">{{ validationErrorText | tr }}</small>
    <div fxLayout="row" fxLayoutGap="1.5%">
      <ng-container *ngIf="this.models.length > 0">
        <button type="button" class="btn btn-primary btn-sm" *ngFor="let model of this.models" (click)="remove(model)">
          {{ model }}
          <i-bs name="x-circle-fill"></i-bs>
        </button>
      </ng-container>
    </div>
  </div>
</div>
