<app-entities-layout-component>
  <div class="list-group" nav>
    <a class="list-group-item list-group-item-action" routerLink="all" routerLinkActive="active">
      <i-bs name="calendar-event-fill"></i-bs>
      {{ 'NAV_EVENTS' | tr }}</a
    >

    <a class="list-group-item list-group-item-action" routerLink="{{ selectedEvent?.id }}" *ngIf="selectedEvent" routerLinkActive="active"
      ><b>{{ selectedEvent.name }}</b></a
    >

    <ng-container *ngFor="let event of this.events; trackById">
      <a
        class="list-group-item list-group-item-action"
        routerLink="{{ event.id }}"
        *ngIf="event.id !== selectedEvent?.id"
        routerLinkActive="active"
        >{{ event.name }}</a
      >
    </ng-container>
  </div>
</app-entities-layout-component>
