<div *ngFor="let appLink of appDownloadLinks" class="btn-group m-1" role="group" aria-label="App download infos">
  <a class="btn btn-outline-info" [class.customLogo]="appLink.img" target="_blank" rel="noopener" href="{{ appLink.link }}">
    <i-bs *ngIf="appLink.icon" [name]="appLink.icon"></i-bs>
    <img *ngIf="appLink.img" src="{{ appLink.img }}" alt="" height="16em;" />
    <img *ngIf="appLink.img2" src="{{ appLink.img2 }}" alt="" height="16em;" />
    {{ appLink.text }}
  </a>

  <button
    type="button"
    class="btn btn-outline-info"
    (click)="showQRCode(appLink)"
    *ngIf="showQRCodeButton"
    placement="top"
    attr.aria-label="{{ 'ABOUT_APP_QR_CODE_TOOLTIP' | tr }}"
    ngbTooltip="{{ 'ABOUT_APP_QR_CODE_TOOLTIP' | tr }}">
    <i-bs name="upc-scan"></i-bs>
  </button>

  <button
    type="button"
    class="btn btn-outline-info"
    (click)="copyStoreLink(appLink.link)"
    placement="top"
    attr.aria-label="{{ 'ABOUT_APP_COPY_TOOLTIP' | tr }}"
    ngbTooltip="{{ 'ABOUT_APP_COPY_TOOLTIP' | tr }}">
    <i-bs name="clipboard"></i-bs>
  </button>
</div>
