<div fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-md="column" fxLayoutGap.lt-md="4%">
  <div class="list-group" fxFlex="29%" fxFlex.gt-lg="15%">
    <a
      class="list-group-item list-group-item-action"
      routerLink="organisation"
      *ngIf="selectedOrganisation"
      routerLinkActive="active"
      (click)="linkClick()"
    >
      <bi name="people"></bi>
      "{{ selectedOrganisation?.name }}" {{ 'HOME_WAITERS_NAV_ORGANISATION' | tr }}</a
    >

    <a
      class="list-group-item list-group-item-action"
      routerLink="event/{{ selectedEvent?.id }}"
      *ngIf="selectedEvent"
      routerLinkActive="active"
      (click)="linkClick()"
    >
      <bi name="people"></bi>
      "{{ selectedEvent?.name }}" {{ 'HOME_WAITERS_NAV_EVENTS' | tr }}</a
    >

    <div class="list-group-item">
      <div class="input-group">
        <span class="input-group-text" id="selectEvent-addon1"><bi name="people"></bi></span>
        <select class="form-select" id="selectEvent" [(ngModel)]="selectedModelToShow" (ngModelChange)="showModel($event)">
          <option value="default">{{ 'HOME_WAITERS_NAV_SELECT_EVENT' | tr }}</option>
          <option value="/home/waiters/event/{{ eventModel.id }}" *ngFor="let eventModel of this.allModels">{{ eventModel.name }}</option>
        </select>
      </div>
    </div>

    <a class="list-group-item list-group-item-action" routerLink="/home/waiters/create" routerLinkActive="active" (click)="linkClick()">
      <bi name="plus-circle"></bi>
      {{ 'ADD_2' | tr }}</a
    >
  </div>

  <div fxFlex="70%" fxFlex.gt-lg="82%">
    <div class="card bg-dark">
      <div class="card-body px-4">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
