<app-entities-layout-component>
  <div class="list-group" nav>
    <a
      class="list-group-item list-group-item-action"
      routerLink="organisation"
      *ngIf="selectedOrganisation"
      routerLinkActive="active"
      (click)="linkClick()">
      <i-bs name="people"></i-bs>
      {{ selectedOrganisation?.name }} {{ 'HOME_WAITERS_NAV_ORGANISATION' | tr }}</a
    >

    <a
      class="list-group-item list-group-item-action"
      routerLink="event/{{ selectedEvent?.id }}"
      *ngIf="selectedEvent"
      routerLinkActive="active"
      (click)="linkClick()">
      <i-bs name="people"></i-bs>
      {{ selectedEvent?.name }} {{ 'HOME_WAITERS_NAV_EVENTS' | tr }}</a
    >

    <div class="list-group-item" [fxHide.gt-sm]="true">
      <div class="input-group">
        <span class="input-group-text" id="selectEvent-addon"><i-bs name="people"></i-bs></span>
        <select class="form-select" id="selectEvent" [(ngModel)]="selectedModelToShow" (ngModelChange)="showModel($event)">
          <option value="default">{{ 'HOME_WAITERS_NAV_SELECT_EVENT' | tr }}</option>
          <option value="/home/waiters/event/{{ eventModel.id }}" *ngFor="let eventModel of this.allModels; trackById">
            {{ eventModel.name }}
          </option>
        </select>
      </div>
    </div>

    <ng-container *ngFor="let event of this.allModels; trackById">
      <a
        *ngIf="event.id !== selectedEvent?.id"
        [fxHide.lt-md]="true"
        class="list-group-item list-group-item-action"
        routerLink="/home/waiters/event/{{ event.id }}"
        routerLinkActive="active"
        (click)="linkClick()">
        {{ event.name }} {{ 'HOME_WAITERS_NAV_EVENTS' | tr }}</a
      >
    </ng-container>
  </div>
</app-entities-layout-component>
