<div class="card h-100">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h4><ng-content /></h4>
      </div>
      <div class="col text-end">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>
            @switch (chartType) { @case ('BAR') {
            <span>{{ 'HOME_STATISTICS_BAR_CHART' | tr }}</span>
            } @case ('PIE') {
            <span>{{ 'HOME_STATISTICS_PIE_CHART' | tr }}</span>
            } @case ('TEXT') {
            <span>{{ 'HOME_STATISTICS_TEXT_CHART' | tr }}</span>
            } }
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button type="button" ngbDropdownItem (click)="setChartType('BAR')">
              <bi name="bar-chart-line-fill" /> {{ 'HOME_STATISTICS_BAR_CHART' | tr }}
            </button>
            <button type="button" ngbDropdownItem (click)="setChartType('PIE')">
              <bi name="pie-chart-fill" /> {{ 'HOME_STATISTICS_PIE_CHART' | tr }}
            </button>
            <button type="button" ngbDropdownItem (click)="setChartType('TEXT')">
              <bi name="list-ul" /> {{ 'HOME_STATISTICS_TEXT_CHART' | tr }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <ng-content select="[top]" />

    @if (!sumDtos || sumDtos.length === 0) {
    <div class="text-center">
      <span style="font-size: 1.2rem">{{ 'HOME_STATISTICS_NO_DATA' | tr }}</span>
    </div>
    }

    <div id="chart">
      @if (chartType === 'PIE' && sumDtos && sumDtos.length > 0) {

      <div style="height: 45vh">
        <ngx-charts-pie-chart scheme="cool" [results]="sumDtos" [labels]="true" [trimLabels]="false" />
      </div>

      } @if (chartType === 'BAR' && sumDtos && sumDtos.length > 0) {

      <div [ngStyle]="{height: _height}">
        <ngx-charts-bar-horizontal
          scheme="cool"
          [barPadding]="16"
          [maxYAxisTickLength]="26"
          [showDataLabel]="true"
          [showGridLines]="true"
          [xAxis]="true"
          [yAxis]="true"
          [trimXAxisTicks]="false"
          [results]="sumDtos"
          [legend]="false"
        />
      </div>

      } @if (chartType === 'TEXT' && sumDtos && sumDtos.length > 0) {

      <ul class="list-group list-group-flush">
        @for (dto of sumDtos; track dto) {
        <li class="d-flex justify-content-between list-group-item">
          <span>{{ dto.name }}</span>
          <span>{{ dto.value }}</span>
        </li>
        }
      </ul>

      }
    </div>

    <ng-content select="[bottom]" />
  </div>
</div>
