<div class="d-flex flex-column">
  <h1>{{ 'NAV_USER_SETTINGS' | transloco }}</h1>

  <div class="card mb-3">
    <div class="card-body">
      <h4 class="card-title">{{ 'HOME_USERSETTINGS_USER_SETTINGS_EMAIL' | transloco }}</h4>
      <h6 class="card-subtitle mb-2">{{ 'HOME_USERSETTINGS_USER_SETTINGS_EMAIL_SUBTITLE' | transloco }}</h6>
      <form #emailForm="ngForm" (ngSubmit)="changeEmail(emailForm)">
        <div class="d-flex flex-column card-text mb-3">
          <div>
            <div class="form-group col-12 col-md-3">
              <label for="email">{{ 'EMAIL' | transloco }}</label>
              <input
                class="form-control mb-1"
                id="email"
                #emailModel="ngModel"
                [ngModel]="emailAddress()"
                (ngModelChange)="emailChange($event)"
                type="email"
                name="email"
              />
              @if (emailModel.invalid || !emailAddressValid()) {
              <small class="text-danger"> {{ 'HOME_USERS_EMAIL_INCORRECT' | transloco }} </small>
              }
            </div>
          </div>
        </div>
        <button class="btn btn-outline-warning" [disabled]="!emailForm || !emailForm.valid || !emailAddressValid" type="submit">
          {{ 'SAVE' | transloco }}
        </button>
      </form>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{ 'HOME_USERSETTINGS_USER_SETTINGS_PASSWORD' | transloco }}</h4>
      <form #passwordForm="ngForm" (ngSubmit)="changePassword(passwordForm)">
        <div class="d-flex flex-column card-text mb-3">
          <div>
            <div class="form-group col-12 col-md-4">
              <label for="oldPassword">{{ 'HOME_USERSETTINGS_USER_SETTINGS_PASSWORD_OLD' | transloco }}</label>
              <input
                class="form-control mb-1"
                id="oldPassword"
                #passwordModel="ngModel"
                [minlength]="6"
                [placeholder]="'PASSWORD' | transloco"
                ngModel
                type="password"
                required
                name="oldPassword"
              />
              @if (passwordModel.invalid) {
              <small class="text-danger"> {{ 'HOME_USERS_PASSWORD_INCORRECT' | transloco }} </small>
              }
            </div>
          </div>

          <div>
            <div class="form-group col-12 col-md-4">
              <label for="newPassword">{{ 'HOME_USERSETTINGS_USER_SETTINGS_PASSWORD_NEW' | transloco }}</label>
              <input
                class="form-control mb-1"
                id="newPassword"
                #newPasswordModel="ngModel"
                [minlength]="6"
                [placeholder]="'PASSWORD' | transloco"
                (ngModelChange)="newPasswordsChange($event, undefined)"
                ngModel
                type="password"
                required
                name="newPassword"
              />
              @if (newPasswordModel.invalid) {
              <small class="text-danger"> {{ 'HOME_USERS_PASSWORD_INCORRECT' | transloco }} </small>
              }
            </div>
          </div>

          <div>
            <div class="form-group col-12 col-md-4">
              <label for="newPasswordAgain">{{ 'HOME_USERSETTINGS_USER_SETTINGS_PASSWORD_NEW_AGAIN' | transloco }}</label>
              <input
                class="form-control mb-1"
                id="newPasswordAgain"
                #newPasswordAgainModel="ngModel"
                [minlength]="6"
                [placeholder]="'PASSWORD' | transloco"
                (ngModelChange)="newPasswordsChange(undefined, $event)"
                ngModel
                type="password"
                required
                name="newPasswordAgain"
              />

              @if (newPasswordAgainModel.invalid) {
              <div>
                <small class="text-danger"> {{ 'HOME_USERS_PASSWORD_INCORRECT' | transloco }} </small>
              </div>
              } @if (!newPasswordsMatch) {
              <div>
                <small class="text-danger"> {{ 'HOME_USERSETTINGS_USER_SETTINGS_PASSWORD_NEW_DONT_MATCH' | transloco }} </small>
              </div>
              }
            </div>
          </div>
        </div>
        <button
          class="btn btn-outline-danger"
          [disabled]="
            !passwordForm || !passwordForm.valid || !newPasswordsMatch
          "
          type="submit"
        >
          {{ 'SAVE' | transloco }}
        </button>
      </form>
    </div>
  </div>
</div>
