<div class="d-flex flex-column">
  <h1>{{ 'NAV_USER_SETTINGS' | tr }}</h1>

  <div class="card mb-3">
    <div class="card-body">
      <h4 class="card-title">{{ 'HOME_USERSETTINGS_USER_SETTINGS_EMAIL' | tr }}</h4>
      <h6 class="card-subtitle mb-2">{{ 'HOME_USERSETTINGS_USER_SETTINGS_EMAIL_SUBTITLE' | tr }}</h6>
      <form #emailForm="ngForm" (ngSubmit)="changeEmail(emailForm)">
        <div class="d-flex flex-column card-text mb-3">
          <div>
            <div class="form-group col-12 col-md-3">
              <label for="email">{{ 'EMAIL' | tr }}</label>
              <input
                #emailModel="ngModel"
                class="form-control mb-1"
                type="email"
                id="email"
                name="email"
                [ngModel]="emailAddress()"
                (ngModelChange)="emailChange($event)"
              />
              @if (emailModel.invalid || !emailAddressValid()) {
              <small class="text-danger"> {{ 'HOME_USERS_EMAIL_INCORRECT' | tr }} </small>
              }
            </div>
          </div>
        </div>
        <button class="btn btn-outline-warning" type="submit" [disabled]="!emailForm || !emailForm.valid || !emailAddressValid">
          {{ 'SAVE' | tr }}
        </button>
      </form>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{ 'HOME_USERSETTINGS_USER_SETTINGS_PASSWORD' | tr }}</h4>
      <form #passwordForm="ngForm" (ngSubmit)="changePassword(passwordForm)">
        <div class="d-flex flex-column card-text mb-3">
          <div>
            <div class="form-group col-12 col-md-4">
              <label for="oldPassword">{{ 'HOME_USERSETTINGS_USER_SETTINGS_PASSWORD_OLD' | tr }}</label>
              <input
                #passwordModel="ngModel"
                ngModel
                class="form-control mb-1"
                type="password"
                id="oldPassword"
                required
                name="oldPassword"
                [minlength]="6"
                [placeholder]="'PASSWORD' | tr"
              />
              @if (passwordModel.invalid) {
              <small class="text-danger"> {{ 'HOME_USERS_PASSWORD_INCORRECT' | tr }} </small>
              }
            </div>
          </div>

          <div>
            <div class="form-group col-12 col-md-4">
              <label for="newPassword">{{ 'HOME_USERSETTINGS_USER_SETTINGS_PASSWORD_NEW' | tr }}</label>
              <input
                #newPasswordModel="ngModel"
                ngModel
                class="form-control mb-1"
                type="password"
                id="newPassword"
                required
                name="newPassword"
                [minlength]="6"
                [placeholder]="'PASSWORD' | tr"
                (ngModelChange)="newPasswordsChange($event, undefined)"
              />
              @if (newPasswordModel.invalid) {
              <small class="text-danger"> {{ 'HOME_USERS_PASSWORD_INCORRECT' | tr }} </small>
              }
            </div>
          </div>

          <div>
            <div class="form-group col-12 col-md-4">
              <label for="newPasswordAgain">{{ 'HOME_USERSETTINGS_USER_SETTINGS_PASSWORD_NEW_AGAIN' | tr }}</label>
              <input
                #newPasswordAgainModel="ngModel"
                ngModel
                class="form-control mb-1"
                type="password"
                id="newPasswordAgain"
                required
                name="newPasswordAgain"
                [minlength]="6"
                [placeholder]="'PASSWORD' | tr"
                (ngModelChange)="newPasswordsChange(undefined, $event)"
              />

              @if (newPasswordAgainModel.invalid) {
              <div>
                <small class="text-danger"> {{ 'HOME_USERS_PASSWORD_INCORRECT' | tr }} </small>
              </div>
              } @if (!newPasswordsMatch) {
              <div>
                <small class="text-danger"> {{ 'HOME_USERSETTINGS_USER_SETTINGS_PASSWORD_NEW_DONT_MATCH' | tr }} </small>
              </div>
              }
            </div>
          </div>
        </div>
        <button class="btn btn-outline-danger" type="submit" [disabled]="!passwordForm || !passwordForm.valid || !newPasswordsMatch">
          {{ 'SAVE' | tr }}
        </button>
      </form>
    </div>
  </div>
</div>
