<!-- Button trigger modal -->
<a (click)="open(content)">{{ 'ABOUT' | tr }}</a>

<ng-template #content let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">{{ 'ABOUT' | tr }}</h3>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <h4>{{ 'ABOUT_MODAL_GENERAL' | tr }}</h4>
    <p>{{ 'ABOUT_MODAL_GENERAL_DESCRIPTION' | tr }}</p>
    <a href="https://datepoll.org/waiterrobot" target="_blank" rel="noopener">{{ 'ABOUT_MODAL_GENERAL_WEBSITE' | tr }}</a>

    <br /><br />

    <h4>{{ 'ABOUT_MODAL_TECHNICAL' | tr }}</h4>
    <ul class="list-group list-group-flush">
      <li
        (mousedown)="mousedown()"
        (mouseup)="mouseup()"
        (mouseleave)="mouseup()"
        (click)="clicked()"
        class="list-group-item not-selectable">
        {{ 'ABOUT_MODAL_TECHNICAL_WEB_VERSION' | tr }}: {{ frontendVersion }}
      </li>
      <li class="list-group-item"><a href="#" rel="noopener" target="_blank">WaiterRobot Documentation</a></li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" ngbAutofocus (click)="modal.close()">{{ 'CLOSE' | tr }}</button>
  </div>
</ng-template>
