/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

a {
  text-decoration: none;
  color: #2196f3;
}

a:hover {
  color: #21b3f2;
  cursor: pointer;
  text-decoration: none;
}

.sortable-header {
  cursor: pointer;
}

/* Fix vertical text alignment in buttons with icons */
button > bi {
  vertical-align: middle;
}

.big {
  height: 50px;
  width: 50px;
}

.fill-red {
  fill: red;
}
