/* You can add global styles to this file, and also import other style files */

@import 'assets/styles/custom-bootstrap';

html,
body {
  overscroll-behavior: auto;
  background: var(--primary-9);
}

a:hover {
  color: #21b3f2;
  cursor: pointer;
  text-decoration: none;
}

/* Fix vertical text alignment in buttons with icons */
.btn > i-bs > svg.bi {
  vertical-align: -0.125em;
}

/** Fix button icon alignment */
.btn-sm > i-bs > svg.bi {
  vertical-align: -0.22em !important;
}

a.btn > img {
  vertical-align: -0.15em;
}

/* Fix white row below footer */
.cdk-describedby-message-container {
  display: none;
}

.cdk-cell {
  vertical-align: middle;
}

.fake-dropdown-item {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #ffffff;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.fake-dropdown-item:hover {
  color: #fff;
  background-color: var(--primary-6);
}

.dropdown-toggle,
.nav-link {
  user-select: none;
}

/* Loading animation for buttons */
.btn.spinner {
  position: relative !important;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -9px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}

.navbar > .container-xxxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.container-xxxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1800px) {
  .container-xxxl,
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1710px;
  }
}

@-webkit-keyframes roll {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes roll {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.roll {
  background-color: black;
  -moz-animation-name: roll;
  -moz-animation-duration: 4s;
  -moz-animation-iteration-count: 1;
  -webkit-animation-name: roll;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: 1;
}

.tilt {
  background-color: black;
  transform-origin: left;
  transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
}

.spin {
  text-align: center;
  animation-name: spin, depth;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

@keyframes depth {
  0% {
    text-shadow: 0 0 black;
  }
  25% {
    text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black;
  }
  50% {
    text-shadow: 0 0 black;
  }
  75% {
    text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black, -5px 0 black;
  }
  100% {
    text-shadow: 0 0 black;
  }
}
