/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~dfx-helper/styles/dfx-helper';

a:hover {
  color: #21b3f2;
  cursor: pointer;
  text-decoration: none;
}

.link-active {
  color: rgba(255, 255, 255, 0.75) !important;
}

.sortable-header {
  cursor: pointer;
}

/* Fix vertical text alignment in buttons with icons */
svg.bi {
  vertical-align: -0.125em;
}

.btn > img {
  vertical-align: -0.15em;
}

.big {
  height: 50px;
  width: 50px;
}

.fill-red {
  fill: red;
}

.fake-dropdown-item {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.fake-dropdown-item:hover {
  color: #1e2125;
  background-color: #e9ecef;
}

.dropdown-toggle,
.nav-link {
  user-select: none;
}

.spinner-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
