<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="Brand logo"> WaiterRobot
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="toggleNav(collapsable)"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" #collapsable fxLayout="row"
         fxLayout.lt-md="column" fxLayoutAlign="space-between" fxLayoutGap="2%">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="visually-hidden">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="tables">{{'NAV_TABLES' | tr}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="products">{{'NAV_PRODUCTS' | tr}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="waiters">{{'NAV_WAITERS' | tr}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="printers">{{'NAV_PRINTERS' | tr}}</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <div ngbDropdown display="dynamic">
            <a class="nav-link" id="organisationSwitcherDropdown"
               ngbDropdownToggle>{{'NAV_ORGANISATIONS' | tr}}</a>
            <div ngbDropdownMenu aria-labelledby="organisationSwitcherDropdown">
              <button ngbDropdownItem *ngIf="selectedOrganisation" routerLink="organisations/{{selectedOrganisation.id}}">
                <b>{{selectedOrganisation.name}}</b>
              </button>
              <div class="dropdown-divider"></div>
              <button ngbDropdownItem routerLinkActive="active" routerLink="organisations/create">
                <b>+</b> {{'ADD_2' | tr}}</button>
              <button ngbDropdownItem routerLinkActive="active" routerLink="organisations/all">
                <bi name="gear"></bi>
                {{'NAV_ORGANISATIONS' | tr}}</button>
            </div>
          </div>
        </li>

        <li class="nav-item">
          <div ngbDropdown display="dynamic">
            <a class="nav-link" id="settingsDropdown"
               ngbDropdownToggle>{{'NAV_SETTINGS' | tr}}</a>
            <div ngbDropdownMenu aria-labelledby="settingsDropdown">
              <div class="px-3 py-1">
                <h5>{{'NAV_WELCOME' | tr}}</h5>
                <small><b>vorname.nachname</b></small>
              </div>
              <div class="dropdown-divider"></div>
              <button ngbDropdownItem routerLinkActive="active" routerLink="usettings/settings">
                <bi name="gear-wide-connected"></bi>
                {{'NAV_USER_SETTINGS' | tr}}</button>
              <button ngbDropdownItem routerLinkActive="active" routerLink="usettings/sessions">
                <bi name="file-lock"></bi>
                {{'NAV_USER_SESSIONS' | tr}}</button>
              <button ngbDropdownItem (click)="logout()">
                <bi name="box-arrow-left"></bi>
                {{'NAV_LOGOUT' | tr}}</button>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>
</nav>

<main class="container-fluid text-white">
  <router-outlet></router-outlet>
</main>

<app-footer></app-footer>
