<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home" fxLayoutAlign="center center">
      <img id="brand" src="assets/logo.png" width="30" height="30" class="d-inline-block align-top ms-2" alt="Brand logo" />

      <ng-container *ngIf="isMobile">
        <div
          style="font-size: 12px"
          *ngIf="showEnvironmentType && environmentType !== 'prod'"
          (click)="showEnvironmentType = !showEnvironmentType"
          class="badge bg-warning text-dark ms-3 me-1 not-selectable">
          <span *ngIf="environmentType === 'dev'">DEV</span>
          <span *ngIf="environmentType === 'testing'">TESTING</span>
        </div>
        <div style="font-size: 12px" *ngIf="myUser?.isAdmin" class="badge bg-danger text-dark ms-3 me-1 not-selectable">
          <span>ADMIN</span>
        </div>
      </ng-container>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      (click)="toggleNav()"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex flex-column flex-md-row justify-content-md-between" fxFill>
        <div>
          <ul class="navbar-nav">
            <li fxLayoutAlign="start center" *ngIf="!isMobile">
              <div
                style="font-size: 12px"
                *ngIf="showEnvironmentType && environmentType !== 'prod'"
                (click)="showEnvironmentType = !showEnvironmentType"
                class="badge bg-warning text-dark ms-1 me-1 not-selectable">
                <span *ngIf="environmentType === 'dev'">DEV</span>
                <span *ngIf="environmentType === 'testing'">TESTING</span>
              </div>
              <div style="font-size: 12px" *ngIf="myUser?.isAdmin" class="badge bg-danger text-dark ms-3 me-1 not-selectable">
                <span>ADMIN</span>
              </div>
            </li>

            <li class="nav-item">
              <div ngbDropdown display="dynamic">
                <a class="nav-link" id="organisationSwitcherDropdown" ngbDropdownToggle>
                  <span *ngIf="!selectedOrganisation">{{ 'NAV_ORGANISATIONS' | tr }}</span>
                  <span *ngIf="selectedOrganisation"
                    ><b>{{ selectedOrganisation.name }}</b></span
                  >
                </a>
                <div ngbDropdownMenu aria-labelledby="organisationSwitcherDropdown">
                  <h6 class="dropdown-header">
                    <b>{{ 'NAV_ORGANISATIONS' | tr }}</b>
                  </h6>
                  <button *ngIf="selectedOrganisation" ngbDropdownItem routerLink="organisations/{{ selectedOrganisation.id }}">
                    <b>{{ selectedOrganisation.name }}</b
                    ><small> {{ 'NAV_EDIT' | tr }}</small>
                  </button>
                  <span class="fake-dropdown-item unselectable" *ngIf="allOrgs.length === 0">
                    {{ 'NAV_ORGANISATIONS_NO_ORGS' | tr }}
                  </span>
                  <ng-container *ngFor="let orgM of allOrgs; trackById">
                    <span
                      class="fake-dropdown-item"
                      *ngIf="orgM.id !== selectedOrganisation?.id"
                      (click)="onSelectOrg(orgM); $event.stopPropagation()">
                      {{ orgM.name }}
                    </span>
                  </ng-container>
                  <div class="dropdown-divider"></div>
                  <button ngbDropdownItem routerLinkActive="active" routerLink="organisations/create" *ngIf="myUser?.isAdmin">
                    <b>+</b> {{ 'ADD_2' | tr }}
                  </button>
                  <button ngbDropdownItem routerLinkActive="active" routerLink="organisations/all">
                    <i-bs name="building"></i-bs>
                    {{ 'SHOW_ALL' | tr }}
                  </button>
                </div>
              </div>
            </li>

            <li class="nav-item">
              <div ngbDropdown display="dynamic">
                <a class="nav-link" id="eventSwitcherDropdown" [class.disabled]="!selectedOrganisation" ngbDropdownToggle>
                  <span *ngIf="!selectedEvent">{{ 'NAV_EVENTS' | tr }}</span>
                  <span *ngIf="selectedEvent"
                    ><b>{{ selectedEvent.name }}</b></span
                  >
                </a>
                <div ngbDropdownMenu aria-labelledby="eventSwitcherDropdown">
                  <h6 class="dropdown-header">
                    <b>{{ 'NAV_EVENTS' | tr }}</b>
                  </h6>
                  <button ngbDropdownItem *ngIf="selectedEvent" routerLink="events/{{ selectedEvent.id }}">
                    <b>{{ selectedEvent.name }}</b
                    ><small> {{ 'NAV_EDIT' | tr }}</small>
                  </button>
                  <span class="fake-dropdown-item unselectable" *ngIf="allEvents.length === 0">
                    {{ 'NAV_EVENTS_NO_EVENTS' | tr }}
                  </span>
                  <ng-container *ngFor="let eventM of allEvents; trackById">
                    <span
                      class="fake-dropdown-item"
                      *ngIf="eventM.id !== selectedEvent?.id"
                      (click)="onSelectEvent(eventM); $event.stopPropagation()">
                      {{ eventM.name }}
                    </span>
                  </ng-container>
                  <div class="dropdown-divider"></div>
                  <button ngbDropdownItem routerLinkActive="active" routerLink="events/create" *ngIf="myUser?.isAdmin">
                    <b>+</b> {{ 'ADD_2' | tr }}
                  </button>
                  <button ngbDropdownItem routerLinkActive="active" routerLink="events/all">
                    <i-bs name="calendar-event-fill"></i-bs>
                    {{ 'SHOW_ALL' | tr }}
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div>
          <ul class="navbar-nav">
            <li class="nav-item" *ngIf="myUser?.isAdmin">
              <div ngbDropdown display="dynamic">
                <a class="nav-link" id="adminDropDown" ngbDropdownToggle> {{ 'NAV_INSTANCE_ADMINISTRATION' | tr }}</a>
                <div ngbDropdownMenu aria-labelledby="adminDropDown">
                  <button ngbDropdownItem routerLinkActive="active" routerLink="users">
                    <i-bs name="person-badge"></i-bs>
                    {{ 'NAV_USERS' | tr }}
                  </button>
                  <button ngbDropdownItem routerLinkActive="active" routerLink="instance">
                    <i-bs name="gear"></i-bs>
                    {{ 'NAV_INSTANCE_SETTINGS' | tr }}
                  </button>
                </div>
              </div>
            </li>

            <li class="nav-item">
              <div ngbDropdown display="dynamic">
                <a class="nav-link" id="settingsDropdown" ngbDropdownToggle>{{ 'SETTINGS' | tr }}</a>
                <div ngbDropdownMenu aria-labelledby="settingsDropdown">
                  <div class="px-3 py-1">
                    <h5>{{ 'NAV_USER_SETTINGS_WELCOME' | tr }} {{ myUser?.firstname }},</h5>
                    <a (click)="openUserEmailQRCode(myUser)">
                      <u>{{ myUser?.emailAddress }}</u>
                      <i-bs name="qr-code" class="ms-1"></i-bs>
                    </a>
                    <small>
                      <br />
                      <b *ngIf="myUser?.isAdmin" class="clickable" (click)="switchAdminMode()">{{ 'NAV_USER_SETTINGS_ADMIN' | tr }}</b>
                      <b *ngIf="this.adminModeChanged" class="clickable" (click)="switchAdminMode()">{{
                        'NAV_USER_SETTINGS_ADMIN_SWITCH' | tr
                      }}</b>
                    </small>
                  </div>
                  <div class="dropdown-divider"></div>
                  <button ngbDropdownItem routerLinkActive="active" routerLink="usettings/settings">
                    <i-bs name="gear-wide-connected"></i-bs>
                    {{ 'NAV_USER_SETTINGS' | tr }}
                  </button>
                  <button ngbDropdownItem routerLinkActive="active" routerLink="usettings/sessions">
                    <i-bs name="file-lock"></i-bs>
                    {{ 'NAV_USER_SESSIONS' | tr }}
                  </button>
                  <button ngbDropdownItem (click)="logout()">
                    <i-bs name="box-arrow-left"></i-bs>
                    {{ 'NAV_LOGOUT' | tr }}
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar bg-dark navbar-dark pt-0 pb-2" *ngIf="selectedOrganisation">
  <div class="container-fluid">
    <ul class="navbar-nav d-flex flex-row justify-content-sm-start" [class.justify-content-between]="selectedEvent" fxFill>
      <li class="nav-item mx-2" *ngIf="selectedEvent">
        <a class="nav-link" routerLink="tables" routerLinkActive="link-active">{{ 'NAV_TABLES' | tr }}</a>
      </li>
      <li class="nav-item mx-2" *ngIf="selectedEvent">
        <a class="nav-link" routerLink="products" routerLinkActive="link-active">{{ 'NAV_PRODUCTS' | tr }}</a>
      </li>
      <li class="nav-item mx-2" *ngIf="myUser?.isAdmin">
        <a class="nav-link" routerLink="printers" routerLinkActive="link-active">{{ 'NAV_PRINTERS' | tr }}</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" routerLink="waiters" routerLinkActive="link-active">{{ 'NAV_WAITERS' | tr }}</a>
      </li>
    </ul>
  </div>
</nav>

<main class="container-fluid text-white bg-darker-5 pb-5">
  <div class="alert alert-warning" role="alert" offline>
    <b>{{ 'INFORMATION' | tr }}!</b> {{ 'OFFLINE' | tr }}
  </div>

  <router-outlet></router-outlet>
</main>

<app-footer></app-footer>
