main {
  min-height: 90vh;
  padding-top: 10px;
}

.badge {
  font-size: 17px;
}

.mobile-background-0 {
  background-color: black;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
}

.mobile-background-1 {
  background-color: black;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
}

#overflow-container {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

#overflow-container:hover {
  cursor: grabbing;
}

.overflow-auto::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.overflow-auto {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
