main {
  min-height: 90vh;
  padding-top: 10px;
}

.badge {
  font-size: 12px;
}

.mobile-background-0 {
  background-color: black;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
}

.mobile-background-1 {
  background-color: black;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
}

.bg {
  background-color: var(--primary-9);
}
