<div fxLayout="row break" fxLayoutAlign="space-between center">
  <h1>{{ 'HOME_WAITERS_DUPLICATES' | tr }} {{ selectedDuplicateWaiter ? selectedDuplicateWaiter.name : duplicateWaiter?.name }}</h1>
</div>

<div class="spinner-row" *ngIf="!entitiesLoaded">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">{{ 'LOADING' | tr }}</span>
  </div>
</div>

<div [hidden]="!entitiesLoaded || duplicateWaiter !== undefined">
  <form class="mt-2">
    <div class="input-group">
      <input class="form-control ml-2 bg-dark text-white" type="text" [formControl]="filter" placeholder="{{ 'SEARCH' | tr }}" />
      <button
        class="btn btn-outline-secondary"
        type="button"
        ngbTooltip="{{ 'CLEAR' | tr }}"
        placement="bottom"
        (click)="filter.reset()"
        *ngIf="filter?.value?.length > 0">
        <i-bs name="x-circle-fill"></i-bs>
      </button>
    </div>
  </form>

  <div class="table-responsive">
    <table ngb-table class="table-dark" [hover]="true" [dataSource]="dataSource" ngb-sort>
      <ng-container ngbColumnDef="name">
        <th *ngbHeaderCellDef ngb-header-cell ngb-sort-header>{{ 'NAME' | tr }}</th>
        <td *ngbCellDef="let duplicateWaiter" ngb-cell>{{ duplicateWaiter.name }}</td>
      </ng-container>

      <ng-container ngbColumnDef="count">
        <th *ngbHeaderCellDef ngb-header-cell ngb-sort-header>{{ 'COUNT' | tr }}</th>
        <td *ngbCellDef="let duplicateWaiter" ngb-cell>
          {{ duplicateWaiter.waiters.length }}
        </td>
      </ng-container>

      <ng-container ngbColumnDef="actions">
        <th *ngbHeaderCellDef ngb-header-cell>{{ 'ACTIONS' | tr }}</th>
        <td *ngbCellDef="let duplicateWaiter" ngb-cell>
          <a
            class="btn btn-sm m-1 btn-outline-danger"
            routerLink="./&quot;{{ duplicateWaiter.name }}&quot;"
            ngbTooltip="{{ 'MERGE' | tr }}">
            <i-bs name="union"></i-bs>
          </a>
        </td>
      </ng-container>

      <tr *ngbHeaderRowDef="columnsToDisplay" ngb-header-row></tr>
      <tr *ngbRowDef="let duplicateWaiter; columns: columnsToDisplay" ngb-row></tr>
    </table>
  </div>
</div>

<div [hidden]="!entitiesLoaded || duplicateWaiter === undefined">
  <div class="my-3" fxLayout="row" fxLayoutGap="3%" fxLayoutGap.gt-md="1%">
    <a routerLink="../" class="btn btn-sm btn-outline-secondary">{{ 'GO_BACK' | tr }}</a>
    <button
      class="btn btn-sm btn-success"
      (click)="merge()"
      [disabled]="duplicateWaitersToMerge.length < 1 || selectedDuplicateWaiter === undefined">
      {{ 'SAVE' | tr }}
    </button>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex="30%">
      <div class="list-group">
        <button
          class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
          *ngFor="let currentDuplicateWaiter of duplicateWaiter?.waiters; trackById"
          (click)="selectDuplicateWaiter(currentDuplicateWaiter)"
          [class.active]="isSelected(currentDuplicateWaiter)">
          <div>
            <input
              class="form-check-input me-1"
              type="checkbox"
              *ngIf="currentDuplicateWaiter.id !== selectedDuplicateWaiter?.id"
              [checked]="isSelectedToMerge(currentDuplicateWaiter)"
              (click)="selectDuplicateWaiterToMerge(currentDuplicateWaiter, $event)" />
            {{ currentDuplicateWaiter.name }}
          </div>
          <button class="btn btn-sm btn-warning" (click)="$event.stopPropagation()" *ngIf="ignoreFeature">
            <i-bs name="person-x-fill"></i-bs>
            {{ 'IGNORE' | tr }}
          </button>
        </button>
      </div>
      <div class="text-danger mt-2" *ngIf="selectedDuplicateWaiter === undefined">Wähle den richtigen Namen aus</div>
      <div
        class="text-danger mt-2"
        *ngIf="!(duplicateWaitersToMerge.length > 1 || (duplicateWaitersToMerge.length > 0 && this.selectedDuplicateWaiter !== undefined))">
        Markiere mindestens zwei Namen welche du zusammenführen willst
      </div>
    </div>
  </div>
  <div fxLayout="column" fxLayoutGap="0.4%" class="mt-4">
    <div class="form-check form-switch" *ngIf="ignoreFeature">
      <input
        ngModel
        class="form-check-input"
        type="checkbox"
        role="switch"
        [(ngModel)]="automaticIgnoreOnSave"
        id="automaticIgnore"
        name="automaticIgnore" />
      <label class="form-check-label" for="automaticIgnore"> Nicht markierte Kellner automatisch ignorieren </label>
    </div>
    <div class="form-check form-switch">
      <input
        ngModel
        class="form-check-input"
        type="checkbox"
        role="switch"
        [(ngModel)]="continueMerge"
        id="continueMerge"
        name="continueMerge" />
      <label class="form-check-label" for="continueMerge"> Zusammenführen nach 'Speichern' fortsetzen </label>
    </div>
  </div>
</div>
