<a (click)="openQrCodeInStandalone()" *ngIf="!standalone">
  <qrcode
    *ngIf="data"
    [width]="isMobile ? 250 : 300"
    errorCorrectionLevel="Q"
    [margin]="0"
    [qrdata]="data"
    elementType="img"
    placement="left"
    ngbTooltip="{{ 'QR_CODE_CLICK' | tr }}"></qrcode>
</a>

<div fxLayout="column" fxLayoutAlign="center center" *ngIf="standalone" style="height: 100%">
  <qrcode *ngIf="data" [width]="isMobile ? 300 : 600" errorCorrectionLevel="H" [margin]="0" [qrdata]="data"></qrcode>
</div>
