<h1>{{ 'WHOLE' | tr }} {{ 'NAV_STATISTICS' | tr }}</h1>

<div class="row mb-4 row-cols-4 gy-3">
  <div class="col">
    <app-statistics-count-card [count]="countDto?.orderedProducts">{{ 'HOME_STATISTICS_SELLED_PRODUCTS' | tr }}</app-statistics-count-card>
  </div>

  <div class="col">
    <app-statistics-count-card [count]="countDto?.orders">{{ 'HOME_STATISTICS_ORDERS' | tr }}</app-statistics-count-card>
  </div>

  <div class="col">
    <app-statistics-count-card [count]="countDto?.turnover">
      <span>{{ 'HOME_STATISTICS_TURNOVER' | tr }}</span>
      <span valuePrefix>€</span>
    </app-statistics-count-card>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body text-center d-flex flex-column justify-content-center">
        <h4>{{ 'HOME_STATISTICS_BEST_WAITER' | tr }}</h4>
        <p style="font-size: 3rem">{{ countDto?.bestWaiter?.name ?? '-' }}</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body text-center d-flex flex-column justify-content-center">
        <h4>{{ 'HOME_STATISTICS_BEST_PRODUCT' | tr }}</h4>
        <p style="font-size: 3rem">{{ countDto?.bestProduct?.name ?? '-' }}</p>
      </div>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col-6">
    <app-statistics-sum-productgroups></app-statistics-sum-productgroups>
  </div>
  <div class="col-6">
    <app-sum-products-statistics></app-sum-products-statistics>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <app-sum-products-per-waiter-statistics></app-sum-products-per-waiter-statistics>
  </div>
  <div class="col-6"></div>
</div>
